# 빅밸류의 산단데이터와 서울시 건물의 위경도 데이터를 MERGE하기 위한 전처리

In [1]:
## 데이터 : 빅밸류/IND_REGINFO_202105.csV

import pandas as pd
industry  = pd.read_csv('/home/jovyan/WIDE_HOME/CompetitionData/빅밸류/IND_REGINFO_202105.csv',sep='|',encoding='cp949')
industry.head()

,REG_ID,IC_ADMIN,FIRM_NAME,IC_NAME,IC_CLASS,REG_DATE,TEL,EMP_NUM,PRODUCTS,IND_SIZE,...,POLL_WAT,POLL_NOI,LIV_WAT,IND_WAT,WEB,IND_TYPE,IND_CODE,ADDR,CAP_IN,CAP_OUT
0,10127684,강원도 춘천시,(주)티이오커뮤니케이션,NaN,일반,20170608.0,033-241-5991,4,조형물,소기업,...,NaN,무,0.0,0.0,NaN,그 외 기타 분류 안된 금속 가공 제품 제조업 외 2 종,"25995, 25999, 33910","강원도 춘천시 서부대성로47번길 10, 4층 (요선동)",0.0,0.0
1,10127685,강원도 춘천시,강원출판사,NaN,일반,19720830.0,033-254-2321,9,"인쇄, 출판",소기업,...,해당없음,무,1.0,0.0,NaN,기타 인쇄물 출판업,58190,"강원도 춘천시 서부대성로48번길 16 (요선동, 강원출판사)",0.0,0.0
2,10127686,강원도 춘천시,중앙출판,NaN,일반,20090526.0,033-257-5912,3,제책 인쇄물,소기업,...,해당없음,무,0.0,0.0,NaN,경 인쇄업 외 1 종,"18111, 18113","강원도 춘천시 서부대성로48번길 16 (요선동, 강원출판사)",0.0,0.0
3,10127687,강원도 춘천시,(주)엘에스엘 시스템즈,NaN,일반,20100219.0,070-7583-3823,3,열화상카메라,소기업,...,해당없음,무,0.1,0.0,NaN,그 외 기타 의료용 기기 제조업 외 3 종,"26421, 27112, 27199, 27302","강원도 춘천시 한림대학길 1 (옥천동, 한림대학교)",50.0,200.0
4,10127688,강원도 춘천시,(주)네이처앤드피플,NaN,일반,20181122.0,070-5121-0073,20,인쇄물,소기업,...,해당없음,무,0.0,0.0,NaN,경 인쇄업 외 1 종,"18111, 25112","강원도 춘천시 금강로83번길 26, 2층 (조양동)",245.0,0.0

In [2]:
industry=industry[['REG_ID','IC_ADMIN','IND_SIZE','IND_TYPE','ADDR']]  # 필요한 열만 선택
industry

,REG_ID,IC_ADMIN,IND_SIZE,IND_TYPE,ADDR
0,10127684,강원도 춘천시,소기업,그 외 기타 분류 안된 금속 가공 제품 제조업 외 2 종,"강원도 춘천시 서부대성로47번길 10, 4층 (요선동)"
1,10127685,강원도 춘천시,소기업,기타 인쇄물 출판업,"강원도 춘천시 서부대성로48번길 16 (요선동, 강원출판사)"
2,10127686,강원도 춘천시,소기업,경 인쇄업 외 1 종,"강원도 춘천시 서부대성로48번길 16 (요선동, 강원출판사)"
3,10127687,강원도 춘천시,소기업,그 외 기타 의료용 기기 제조업 외 3 종,"강원도 춘천시 한림대학길 1 (옥천동, 한림대학교)"
4,10127688,강원도 춘천시,소기업,경 인쇄업 외 1 종,"강원도 춘천시 금강로83번길 26, 2층 (조양동)"
...,...,...,...,...,...
194541,10047724,광주광역시 광산구,소기업,그 외 기타 1차 철강 제조업,광주광역시 광산구 평동산단6번로 10 (월전동)
194542,10047746,광주광역시 광산구,소기업,광학렌즈 및 광학요소 제조업,광주광역시 광산구 평동산단6번로 71 (월전동)
194543,10047939,광주광역시 광산구,소기업,김치류 제조업 외 1 종,광주광역시 광산구 용동길 17-9 (용동)
194544,10047942,광주광역시 광산구,소기업,육상 금속 골조 구조재 제조업 외 1 종,광주광역시 광산구 용동 215-2번지 외 2필지
194545,10048110,광주광역시 광산구,소기업,육상 금속 골조 구조재 제조업 외 6 종,평동산단7번로 98-19 외 1필지

In [3]:
industry=industry.dropna()
seoul_ind = industry[industry['IC_ADMIN'].str.contains('서울')]
seoul_ind  #서울데이터만 추출

,REG_ID,IC_ADMIN,IND_SIZE,IND_TYPE,ADDR
65489,10000002,서울특별시 종로구,소기업,경 인쇄업 외 2 종,서울특별시 종로구 자하문로16길 8 (창성동)
65490,10000005,서울특별시 종로구,소기업,경 인쇄업 외 2 종,서울특별시 종로구 사직로 125 (적선동)
65491,10000006,서울특별시 종로구,소기업,기타 인쇄업 외 1 종,서울특별시 종로구 자하문로2길 18 (적선동)
65492,10000007,서울특별시 종로구,소기업,기타 인쇄업 외 1 종,"서울특별시 종로구 자하문로9길 15, 백악빌딩 (통인동)"
65493,10000008,서울특별시 종로구,소기업,기타 인쇄업 외 1 종,"서울특별시 종로구 자하문로7길 24, 지하1층 (통인동)"
...,...,...,...,...,...
192886,10012059,서울특별시 강동구,소기업,셔츠 및 블라우스 제조업 외 17 종,"서울특별시 강동구 상암로47길 80-15 (명일동, 코스모스 셀프크리닝)"
192887,10012091,서울특별시 강동구,소기업,기타 주변기기 제조업 외 2 종,서울특별시 강동구 성내동 397-10번지 지하1층
192888,10012124,서울특별시 강동구,소기업,그 외 기타 전기장비 제조업,"서울특별시 강동구 성안로25길 9, 111호 (천호동)"
192889,10012133,서울특별시 강동구,소기업,그 외 기타 분류 안된 섬유제품 제조업 외 5 종,"서울특별시 강동구 구천면로 167-7, 2층 (천호동, 성원뿌리)"
193268,10095213,한국산업단지공단 서울지역본부 파주양주지사,소기업,표면광택제 및 실내가향제 제조업 외 1 종,한산로 30

In [4]:
# 데이터 : 서울특별시에 있는 건물에 대한 전체 위경도 데이터 (add라고 지정)
add=pd.read_excel('/home/jovyan/WIDE_HOME//유수빈/add.xlsx')
add

        Unnamed: 0                        주소         lon        lat
0                0   서울특별시 종로구 청운동 자하문로 94 0  126.970406  37.584415
1                1   서울특별시 종로구 청운동 자하문로 96 0  126.970423  37.584513
2                2   서울특별시 종로구 청운동 자하문로 98 0  126.970394  37.584697
3                3   서울특별시 종로구 청운동 자하문로 99 3  126.969878  37.584916
4                4   서울특별시 종로구 청운동 자하문로 99 4  126.969853  37.585080
...            ...                       ...         ...        ...
540775      540775  서울특별시 강동구 강일동 가래여울길 49 0  127.165354  37.575175
540776      540776  서울특별시 강동구 강일동 가래여울길 50 0  127.165159  37.575395
540777      540777  서울특별시 강동구 강일동 가래여울길 57 0  127.165166  37.574902
540778      540778  서울특별시 강동구 강일동 가래여울길 59 0  127.165425  37.574825
540779      540779  서울특별시 강동구 강일동 가래여울길 61 0  127.165045  37.574538

[540780 rows x 4 columns]

In [5]:
def cleansing(text):     # seoul_ind의 ADDR컬럼의 괄호와 괄호안의 글자 제거를 위한 함수 지정
    pattern = '\(.*\)|\s-\s.*' 
    text = re.sub(pattern=pattern, repl='', string=text)
    if ',' in text:
        i=text.rfind(',')
        return text[:i]
    else:
        return text

In [6]:
import re
for i in range(len(seoul_ind)):
    seoul_ind[i:i+1]['ADDR']=cleansing(seoul_ind.iloc[i]['ADDR']).rstrip()
    
seoul_ind

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,REG_ID,IC_ADMIN,IND_SIZE,IND_TYPE,ADDR
65489,10000002,서울특별시 종로구,소기업,경 인쇄업 외 2 종,서울특별시 종로구 자하문로16길 8
65490,10000005,서울특별시 종로구,소기업,경 인쇄업 외 2 종,서울특별시 종로구 사직로 125
65491,10000006,서울특별시 종로구,소기업,기타 인쇄업 외 1 종,서울특별시 종로구 자하문로2길 18
65492,10000007,서울특별시 종로구,소기업,기타 인쇄업 외 1 종,서울특별시 종로구 자하문로9길 15
65493,10000008,서울특별시 종로구,소기업,기타 인쇄업 외 1 종,서울특별시 종로구 자하문로7길 24
...,...,...,...,...,...
192886,10012059,서울특별시 강동구,소기업,셔츠 및 블라우스 제조업 외 17 종,서울특별시 강동구 상암로47길 80-15
192887,10012091,서울특별시 강동구,소기업,기타 주변기기 제조업 외 2 종,서울특별시 강동구 성내동 397-10번지 지하1층
192888,10012124,서울특별시 강동구,소기업,그 외 기타 전기장비 제조업,서울특별시 강동구 성안로25길 9
192889,10012133,서울특별시 강동구,소기업,그 외 기타 분류 안된 섬유제품 제조업 외 5 종,서울특별시 강동구 구천면로 167-7
193268,10095213,한국산업단지공단 서울지역본부 파주양주지사,소기업,표면광택제 및 실내가향제 제조업 외 1 종,한산로 30

In [7]:
def cleansing3(text):   # ADDR의 서울특별시 ~~구를 지우고 도로명만 남기기위한 함수 지정
    i = text.rfind('구 ')
    return text[i+1:]


for i in range(len(seoul_ind)):
    seoul_ind[i:i+1]['ADDR']=cleansing3(seoul_ind.iloc[i]['ADDR']).rstrip()
    
seoul_ind

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,REG_ID,IC_ADMIN,IND_SIZE,IND_TYPE,ADDR
65489,10000002,서울특별시 종로구,소기업,경 인쇄업 외 2 종,자하문로16길 8
65490,10000005,서울특별시 종로구,소기업,경 인쇄업 외 2 종,사직로 125
65491,10000006,서울특별시 종로구,소기업,기타 인쇄업 외 1 종,자하문로2길 18
65492,10000007,서울특별시 종로구,소기업,기타 인쇄업 외 1 종,자하문로9길 15
65493,10000008,서울특별시 종로구,소기업,기타 인쇄업 외 1 종,자하문로7길 24
...,...,...,...,...,...
192886,10012059,서울특별시 강동구,소기업,셔츠 및 블라우스 제조업 외 17 종,상암로47길 80-15
192887,10012091,서울특별시 강동구,소기업,기타 주변기기 제조업 외 2 종,성내동 397-10번지 지하1층
192888,10012124,서울특별시 강동구,소기업,그 외 기타 전기장비 제조업,성안로25길 9
192889,10012133,서울특별시 강동구,소기업,그 외 기타 분류 안된 섬유제품 제조업 외 5 종,구천면로 167-7
193268,10095213,한국산업단지공단 서울지역본부 파주양주지사,소기업,표면광택제 및 실내가향제 제조업 외 1 종,한산로 30

In [8]:
def cleansing2(text):  # 서울시 건물의 위경도 데이터에서 의미없는 0값이 들어있어 제거하기 위한 함수
    i = text.rfind('0')
    return text[:i-1]


for i in range(len(add)):
    add[i:i+1]['주소']=cleansing2(add.iloc[i]['주소']).rstrip()
    
add

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

        Unnamed: 0                      주소         lon        lat
0                0   서울특별시 종로구 청운동 자하문로 94  126.970406  37.584415
1                1   서울특별시 종로구 청운동 자하문로 96  126.970423  37.584513
2                2   서울특별시 종로구 청운동 자하문로 98  126.970394  37.584697
3                3   서울특별시 종로구 청운동 자하문로 99  126.969878  37.584916
4                4   서울특별시 종로구 청운동 자하문로 99  126.969853  37.585080
...            ...                     ...         ...        ...
540775      540775  서울특별시 강동구 강일동 가래여울길 49  127.165354  37.575175
540776      540776  서울특별시 강동구 강일동 가래여울길 50  127.165159  37.575395
540777      540777  서울특별시 강동구 강일동 가래여울길 57  127.165166  37.574902
540778      540778  서울특별시 강동구 강일동 가래여울길 59  127.165425  37.574825
540779      540779  서울특별시 강동구 강일동 가래여울길 61  127.165045  37.574538

[540780 rows x 4 columns]

In [9]:
def cleansing4(text):  # 서울시 건물의 위경도 데이터에서 시,구,동을 제거하기 위한 함수
    i = text.rfind('동 ')
    return text[i+1:]


for i in range(len(add)):
    add[i:i+1]['주소']=cleansing4(add.iloc[i]['주소']).rstrip()
    
add

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

        Unnamed: 0         주소         lon        lat
0                0    자하문로 94  126.970406  37.584415
1                1    자하문로 96  126.970423  37.584513
2                2    자하문로 98  126.970394  37.584697
3                3    자하문로 99  126.969878  37.584916
4                4    자하문로 99  126.969853  37.585080
...            ...        ...         ...        ...
540775      540775   가래여울길 49  127.165354  37.575175
540776      540776   가래여울길 50  127.165159  37.575395
540777      540777   가래여울길 57  127.165166  37.574902
540778      540778   가래여울길 59  127.165425  37.574825
540779      540779   가래여울길 61  127.165045  37.574538

[540780 rows x 4 columns]

# 데이터 MERGE

In [10]:
merge = pd.merge(seoul_ind,add, how='left', left_on='ADDR', right_on='주소')

In [11]:
merge_not_null = merge.dropna()
merge_not_null

,REG_ID,IC_ADMIN,IND_SIZE,IND_TYPE,ADDR,Unnamed: 0,주소,lon,lat
0,10000002,서울특별시 종로구,소기업,경 인쇄업 외 2 종,자하문로16길 8,739.0,자하문로16길 8,126.971852,37.581536
1,10000005,서울특별시 종로구,소기업,경 인쇄업 외 2 종,사직로 125,940.0,사직로 125,126.972898,37.576077
2,10000006,서울특별시 종로구,소기업,기타 인쇄업 외 1 종,자하문로2길 18,979.0,자하문로2길 18,126.973645,37.576445
3,10000007,서울특별시 종로구,소기업,기타 인쇄업 외 1 종,자하문로9길 15,1194.0,자하문로9길 15,126.970367,37.579339
4,10000008,서울특별시 종로구,소기업,기타 인쇄업 외 1 종,자하문로7길 24,1164.0,자하문로7길 24,126.970686,37.578856
...,...,...,...,...,...,...,...,...,...
13044,10011068,서울특별시 영등포구,소기업,포장용 플라스틱 성형용기 제조업,도림로 189,403960.0,도림로 189,126.901786,37.496381
13045,10011068,서울특별시 영등포구,소기업,포장용 플라스틱 성형용기 제조업,도림로 189,403961.0,도림로 189,126.901934,37.496273
13050,10011516,서울특별시 강남구,소기업,유압기기 제조업,테헤란로108길 22,491586.0,테헤란로108길 22,127.065950,37.508107
13052,10012034,서울특별시 송파구,소기업,간판 및 광고물 제조업,성내천로41길 4,522253.0,성내천로41길 4,127.154598,37.496877
13055,10012124,서울특별시 강동구,소기업,그 외 기타 전기장비 제조업,성안로25길 9,537724.0,성안로25길 9,127.134955,37.538084

# 빅밸류의 빌딩데이터와 서울특별시 부동산 실거래가 정보를 MERGE하기 위한 전처리

In [12]:
# 데이터: 빅밸류/08_빌딩_202105.csv

import pandas as pd
data  = pd.read_csv('/home/jovyan/WIDE_HOME/CompetitionData/빅밸류/08_빌딩_202105.csv')
data.head()

,년월,지번 주소 코드,지번주소+동 코드,대장구분 코드,주소,법정동 구 코드,법정동 동 코드,대지구분,번지1,번지2,...,경과연수,전유부 수,리모델링,위반건축물,주변 대규모 점포 수,지하철거리(m),종합병원거리(m),대로변거리(m),소유권변동,소유권변동일자
0,202105,1165010700107010007,BV1165010700107010007000,1,서울특별시 서초구 반포동 701-7번지,11650,10700,1.0,701,7,...,29,0,0,0,16,415.54,289.79,28.06,0,1900-01-01
1,202105,1168010400101110000,BV1168010400101110000000,1,서울특별시 강남구 청담동 111번지,11680,10400,1.0,111,0,...,9,0,0,0,6,829.36,277.55,123.49,0,1900-01-01
2,202105,1168010400100460017,BV1168010400100460017000,1,서울특별시 강남구 청담동 46-17번지,11680,10400,1.0,46,17,...,18,0,0,0,6,468.15,102.43,55.49,1,2018-06-15
3,202105,1168010500101700008,BV1168010500101700008000,1,서울특별시 강남구 삼성동 170-8번지,11680,10500,1.0,170,8,...,28,0,0,0,3,271.72,199.84,34.62,0,1900-01-01
4,202105,1168010500101440024,BV1168010500101440024000,1,서울특별시 강남구 삼성동 144-24번지,11680,10500,1.0,144,24,...,17,0,0,0,4,620.62,76.84,43.53,0,1900-01-01

In [13]:
data=data[data['주소'].str.contains('서울특별시')]  #서울특별시 데이터만 고르기
data

,년월,지번 주소 코드,지번주소+동 코드,대장구분 코드,주소,법정동 구 코드,법정동 동 코드,대지구분,번지1,번지2,...,경과연수,전유부 수,리모델링,위반건축물,주변 대규모 점포 수,지하철거리(m),종합병원거리(m),대로변거리(m),소유권변동,소유권변동일자
0,202105,1165010700107010007,BV1165010700107010007000,1,서울특별시 서초구 반포동 701-7번지,11650,10700,1.0,701,7,...,29,0,0,0,16,415.54,289.79,28.06,0,1900-01-01
1,202105,1168010400101110000,BV1168010400101110000000,1,서울특별시 강남구 청담동 111번지,11680,10400,1.0,111,0,...,9,0,0,0,6,829.36,277.55,123.49,0,1900-01-01
2,202105,1168010400100460017,BV1168010400100460017000,1,서울특별시 강남구 청담동 46-17번지,11680,10400,1.0,46,17,...,18,0,0,0,6,468.15,102.43,55.49,1,2018-06-15
3,202105,1168010500101700008,BV1168010500101700008000,1,서울특별시 강남구 삼성동 170-8번지,11680,10500,1.0,170,8,...,28,0,0,0,3,271.72,199.84,34.62,0,1900-01-01
4,202105,1168010500101440024,BV1168010500101440024000,1,서울특별시 강남구 삼성동 144-24번지,11680,10500,1.0,144,24,...,17,0,0,0,4,620.62,76.84,43.53,0,1900-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2314,202105,1168010700106370015,BV1168010700106370015000,1,서울특별시 강남구 신사동 637-15번지,11680,10700,1.0,637,15,...,29,0,0,0,11,540.83,90.15,79.09,1,1988-12-15
2315,202105,1165010800113400006,BV1165010800113400006000,1,서울특별시 서초구 서초동 1340-6번지,11650,10800,1.0,1340,6,...,23,0,0,0,2,569.63,168.14,28.31,1,2018-05-31
2316,202105,1144012000103940002,BV1144012000103940002000,1,서울특별시 마포구 서교동 394-2번지,11440,12000,1.0,394,2,...,17,0,0,0,3,158.90,172.20,126.20,1,2016-09-20
2317,202105,1165010800113570035,BV1165010800113570035000,1,서울특별시 서초구 서초동 1357-35번지,11650,10800,1.0,1357,35,...,26,0,1,0,1,449.01,98.57,55.76,1,2016-05-17
2318,202105,1111010600100910026,BV1111010600100910026000,1,서울특별시 종로구 통의동 91-26번지,11110,10600,1.0,91,26,...,-1,0,0,1,0,412.55,777.03,65.50,1,1989-05-31

In [47]:
## 사용한 데이터 : 서울특별시 부동산 실거래가 정보(서울 부동산 정보광장에서 제공하는 서울특별시 부동산 실거래가 정보)
## http://data.seoul.go.kr/dataList/OA-15548/S/1/datasetView.do

import pandas as pd
real = pd.read_csv('/home/jovyan/WIDE_HOME/유수빈/realstate.csv',encoding='cp949')   # 서울특별시 부동산 실거래가 정보를 real로 받기
real

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3077: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,실거래가아이디,지번코드,시군구코드,자치구명,법정동코드,법정동명,신고년도,업무구분코드,업무구분,물건번호,대지권면적,건물면적,관리구분코드,층정보,건물주용도코드,건물주용도,물건금액,건축년도,건물명
0,11290-2020-4-0000066-1,1129013800101440024,11290,성북구,1129013800,장위동,2020,4,신고,1,0.0,59.92,2,5.0,2001,아파트,749000000,0.0,래미안 장위포레카운티
1,11290-2020-4-0000628-1,1129013400105080016,11290,성북구,1129013400,길음동,2020,4,신고,1,0.0,84.77,2,18.0,2001,아파트,1200000000,0.0,롯데캐슬 클라시아
2,11530-2020-4-0014284-1,1153010200107400029,11530,구로구,1153010200,구로동,2020,4,신고,1,NaN,36.90,0,1.0,2001,아파트,105000000,1994.0,궁전아트빌라
3,11170-2020-4-0005040-1,1117011500101930000,11170,용산구,1117011500,산천동,2020,4,신고,1,NaN,59.55,0,2.0,2001,아파트,830000000,2001.0,리버힐삼성
4,11170-2020-4-0001553-1,1117012900101930003,11170,용산구,1117012900,이촌동,2020,4,신고,1,NaN,64.43,0,5.0,2001,아파트,735000000,1971.0,강변
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175996,11440-2020-4-0012389-1,1144012700,11440,마포구,1144012700,상암동,2020,4,신고,1,101.0,294.03,0,NaN,1001,단독주택,1450000000,1998.0,NaN
175997,11440-2020-4-0012591-1,1144012400,11440,마포구,1144012400,연남동,2020,4,신고,1,157.1,147.34,0,NaN,1001,단독주택,2430000000,1973.0,NaN
175998,11440-2020-4-0012718-1,1144012300104590004,11440,마포구,1144012300,망원동,2020,4,신고,1,47.3,46.77,0,3.0,2002,연립주택,405000000,1983.0,(459-4)
175999,11440-2020-4-0012838-1,1144011100,11440,마포구,1144011100,신수동,2020,4,신고,1,86.0,46.41,0,NaN,1001,단독주택,899900000,1967.0,NaN
176000,11440-2020-4-0012897-1,1144011700,11440,마포구,1144011700,신정동,2020,4,신고,1,53.0,25.69,0,NaN,1001,단독주택,1358000000,1970.0,NaN

In [48]:
real['평당금액']=real['물건금액']//real['건물면적']   # 물건금액을 건물면적으로 나눠서 평당금액 계산
real.

,실거래가아이디,지번코드,시군구코드,자치구명,법정동코드,법정동명,신고년도,업무구분코드,업무구분,물건번호,대지권면적,건물면적,관리구분코드,층정보,건물주용도코드,건물주용도,물건금액,건축년도,건물명,평당금액
0,11290-2020-4-0000066-1,1129013800101440024,11290,성북구,1129013800,장위동,2020,4,신고,1,0.0,59.92,2,5.0,2001,아파트,749000000,0.0,래미안 장위포레카운티,12499999.0
1,11290-2020-4-0000628-1,1129013400105080016,11290,성북구,1129013400,길음동,2020,4,신고,1,0.0,84.77,2,18.0,2001,아파트,1200000000,0.0,롯데캐슬 클라시아,14155951.0
2,11530-2020-4-0014284-1,1153010200107400029,11530,구로구,1153010200,구로동,2020,4,신고,1,NaN,36.90,0,1.0,2001,아파트,105000000,1994.0,궁전아트빌라,2845528.0
3,11170-2020-4-0005040-1,1117011500101930000,11170,용산구,1117011500,산천동,2020,4,신고,1,NaN,59.55,0,2.0,2001,아파트,830000000,2001.0,리버힐삼성,13937867.0
4,11170-2020-4-0001553-1,1117012900101930003,11170,용산구,1117012900,이촌동,2020,4,신고,1,NaN,64.43,0,5.0,2001,아파트,735000000,1971.0,강변,11407729.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175996,11440-2020-4-0012389-1,1144012700,11440,마포구,1144012700,상암동,2020,4,신고,1,101.0,294.03,0,NaN,1001,단독주택,1450000000,1998.0,NaN,4931469.0
175997,11440-2020-4-0012591-1,1144012400,11440,마포구,1144012400,연남동,2020,4,신고,1,157.1,147.34,0,NaN,1001,단독주택,2430000000,1973.0,NaN,16492466.0
175998,11440-2020-4-0012718-1,1144012300104590004,11440,마포구,1144012300,망원동,2020,4,신고,1,47.3,46.77,0,3.0,2002,연립주택,405000000,1983.0,(459-4),8659397.0
175999,11440-2020-4-0012838-1,1144011100,11440,마포구,1144011100,신수동,2020,4,신고,1,86.0,46.41,0,NaN,1001,단독주택,899900000,1967.0,NaN,19390217.0
176000,11440-2020-4-0012897-1,1144011700,11440,마포구,1144011700,신정동,2020,4,신고,1,53.0,25.69,0,NaN,1001,단독주택,1358000000,1970.0,NaN,52861035.0

In [49]:
real['건물주용도'].value_counts()

아파트     88553
연립주택    60351
오피스텔    14934
단독주택    12163
Name: 건물주용도, dtype: int64

In [54]:
# pd.options.display.float_format = '{:.0f}'.format
a = real.groupby([real['자치구명'],real['법정동명']],as_index=False )['평당금액'].mean()
a
# price = real.groupby([real['자치구명'],real['법정동명']],as_index=False )['평당금액'].mean() #구와 동으로 그룹화 해서 동별 평당금액의 평균을 구하기

    자치구명 법정동명          평당금액
0    강남구  개포동  2.028581e+07
1    강남구  논현동  1.199520e+07
2    강남구  대치동  1.910745e+07
3    강남구  도곡동  1.793974e+07
4    강남구  삼성동  1.637075e+07
..   ...  ...           ...
398  중랑구  면목동  6.101247e+06
399  중랑구   묵동  6.441040e+06
400  중랑구  상봉동  7.523447e+06
401  중랑구  신내동  6.974484e+06
402  중랑구  중화동  6.082382e+06

[403 rows x 3 columns]

In [18]:
# a=pd.DataFrame(a)
# a[a['자치구명']=='영등포구']

In [19]:
# a.to_csv('평당금액(동별).csv')  # csv로 저장

In [55]:
# pd.options.display.float_format = '{:.6f}'.format
# price  = pd.read_csv('/home/jovyan/WIDE_HOME/유수빈/평당금액(동별).csv')
price=a
price

    자치구명 법정동명          평당금액
0    강남구  개포동  2.028581e+07
1    강남구  논현동  1.199520e+07
2    강남구  대치동  1.910745e+07
3    강남구  도곡동  1.793974e+07
4    강남구  삼성동  1.637075e+07
..   ...  ...           ...
398  중랑구  면목동  6.101247e+06
399  중랑구   묵동  6.441040e+06
400  중랑구  상봉동  7.523447e+06
401  중랑구  신내동  6.974484e+06
402  중랑구  중화동  6.082382e+06

[403 rows x 3 columns]

In [56]:
price['주소']=price['자치구명']+" "+price['법정동명']    # 자치구와 법정동명을 합쳐서 주소로 만들기
price

    자치구명 법정동명          평당금액       주소
0    강남구  개포동  2.028581e+07  강남구 개포동
1    강남구  논현동  1.199520e+07  강남구 논현동
2    강남구  대치동  1.910745e+07  강남구 대치동
3    강남구  도곡동  1.793974e+07  강남구 도곡동
4    강남구  삼성동  1.637075e+07  강남구 삼성동
..   ...  ...           ...      ...
398  중랑구  면목동  6.101247e+06  중랑구 면목동
399  중랑구   묵동  6.441040e+06   중랑구 묵동
400  중랑구  상봉동  7.523447e+06  중랑구 상봉동
401  중랑구  신내동  6.974484e+06  중랑구 신내동
402  중랑구  중화동  6.082382e+06  중랑구 중화동

[403 rows x 4 columns]

In [57]:
price.isnull().sum()

자치구명    0
법정동명    0
평당금액    0
주소      0
dtype: int64

In [58]:
data.head()  #빅밸류 빌딩데이터 확인

,년월,지번 주소 코드,지번주소+동 코드,대장구분 코드,주소,법정동 구 코드,법정동 동 코드,대지구분,번지1,번지2,...,경과연수,전유부 수,리모델링,위반건축물,주변 대규모 점포 수,지하철거리(m),종합병원거리(m),대로변거리(m),소유권변동,소유권변동일자
0,202105,1165010700107010007,BV1165010700107010007000,1,서울특별시 서초구 반포동 701-7번지,11650,10700,1.0,701,7,...,29,0,0,0,16,415.54,289.79,28.06,0,1900-01-01
1,202105,1168010400101110000,BV1168010400101110000000,1,서울특별시 강남구 청담동 111번지,11680,10400,1.0,111,0,...,9,0,0,0,6,829.36,277.55,123.49,0,1900-01-01
2,202105,1168010400100460017,BV1168010400100460017000,1,서울특별시 강남구 청담동 46-17번지,11680,10400,1.0,46,17,...,18,0,0,0,6,468.15,102.43,55.49,1,2018-06-15
3,202105,1168010500101700008,BV1168010500101700008000,1,서울특별시 강남구 삼성동 170-8번지,11680,10500,1.0,170,8,...,28,0,0,0,3,271.72,199.84,34.62,0,1900-01-01
4,202105,1168010500101440024,BV1168010500101440024000,1,서울특별시 강남구 삼성동 144-24번지,11680,10500,1.0,144,24,...,17,0,0,0,4,620.62,76.84,43.53,0,1900-01-01

## 빅밸류 빌딩데이터와 동별 평당금액의 평균을 merge하기 위한 전처리

In [59]:
def cleansing(text):   # 빅밸류 빌딩데이터에서 시를 제거 
    i = text.rfind('시 ')
    return text[i+1:]


for i in range(len(data)):
    data[i:i+1]['주소']=cleansing(data.iloc[i]['주소']).rstrip()
    
data

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,년월,지번 주소 코드,지번주소+동 코드,대장구분 코드,주소,법정동 구 코드,법정동 동 코드,대지구분,번지1,번지2,...,경과연수,전유부 수,리모델링,위반건축물,주변 대규모 점포 수,지하철거리(m),종합병원거리(m),대로변거리(m),소유권변동,소유권변동일자
0,202105,1165010700107010007,BV1165010700107010007000,1,서초구 반포동 701-7번지,11650,10700,1.0,701,7,...,29,0,0,0,16,415.54,289.79,28.06,0,1900-01-01
1,202105,1168010400101110000,BV1168010400101110000000,1,강남구 청담동 111번지,11680,10400,1.0,111,0,...,9,0,0,0,6,829.36,277.55,123.49,0,1900-01-01
2,202105,1168010400100460017,BV1168010400100460017000,1,강남구 청담동 46-17번지,11680,10400,1.0,46,17,...,18,0,0,0,6,468.15,102.43,55.49,1,2018-06-15
3,202105,1168010500101700008,BV1168010500101700008000,1,강남구 삼성동 170-8번지,11680,10500,1.0,170,8,...,28,0,0,0,3,271.72,199.84,34.62,0,1900-01-01
4,202105,1168010500101440024,BV1168010500101440024000,1,강남구 삼성동 144-24번지,11680,10500,1.0,144,24,...,17,0,0,0,4,620.62,76.84,43.53,0,1900-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2314,202105,1168010700106370015,BV1168010700106370015000,1,강남구 신사동 637-15번지,11680,10700,1.0,637,15,...,29,0,0,0,11,540.83,90.15,79.09,1,1988-12-15
2315,202105,1165010800113400006,BV1165010800113400006000,1,서초구 서초동 1340-6번지,11650,10800,1.0,1340,6,...,23,0,0,0,2,569.63,168.14,28.31,1,2018-05-31
2316,202105,1144012000103940002,BV1144012000103940002000,1,마포구 서교동 394-2번지,11440,12000,1.0,394,2,...,17,0,0,0,3,158.90,172.20,126.20,1,2016-09-20
2317,202105,1165010800113570035,BV1165010800113570035000,1,서초구 서초동 1357-35번지,11650,10800,1.0,1357,35,...,26,0,1,0,1,449.01,98.57,55.76,1,2016-05-17
2318,202105,1111010600100910026,BV1111010600100910026000,1,종로구 통의동 91-26번지,11110,10600,1.0,91,26,...,-1,0,0,1,0,412.55,777.03,65.50,1,1989-05-31

In [60]:
def cleansing(text):   # 빅밸류 빌딩데이터에서 동 혹은 가를 제거 
    if '동' in text:
        i = text.rfind('동 ')
        return text[:i+1]
    else:
        i = text.rfind('가 ')
        return text[:i+1]


for i in range(len(data)):
    data[i:i+1]['주소']=cleansing(data.iloc[i]['주소']).strip()
    
data

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

,년월,지번 주소 코드,지번주소+동 코드,대장구분 코드,주소,법정동 구 코드,법정동 동 코드,대지구분,번지1,번지2,...,경과연수,전유부 수,리모델링,위반건축물,주변 대규모 점포 수,지하철거리(m),종합병원거리(m),대로변거리(m),소유권변동,소유권변동일자
0,202105,1165010700107010007,BV1165010700107010007000,1,서초구 반포동,11650,10700,1.0,701,7,...,29,0,0,0,16,415.54,289.79,28.06,0,1900-01-01
1,202105,1168010400101110000,BV1168010400101110000000,1,강남구 청담동,11680,10400,1.0,111,0,...,9,0,0,0,6,829.36,277.55,123.49,0,1900-01-01
2,202105,1168010400100460017,BV1168010400100460017000,1,강남구 청담동,11680,10400,1.0,46,17,...,18,0,0,0,6,468.15,102.43,55.49,1,2018-06-15
3,202105,1168010500101700008,BV1168010500101700008000,1,강남구 삼성동,11680,10500,1.0,170,8,...,28,0,0,0,3,271.72,199.84,34.62,0,1900-01-01
4,202105,1168010500101440024,BV1168010500101440024000,1,강남구 삼성동,11680,10500,1.0,144,24,...,17,0,0,0,4,620.62,76.84,43.53,0,1900-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2314,202105,1168010700106370015,BV1168010700106370015000,1,강남구 신사동,11680,10700,1.0,637,15,...,29,0,0,0,11,540.83,90.15,79.09,1,1988-12-15
2315,202105,1165010800113400006,BV1165010800113400006000,1,서초구 서초동,11650,10800,1.0,1340,6,...,23,0,0,0,2,569.63,168.14,28.31,1,2018-05-31
2316,202105,1144012000103940002,BV1144012000103940002000,1,마포구 서교동,11440,12000,1.0,394,2,...,17,0,0,0,3,158.90,172.20,126.20,1,2016-09-20
2317,202105,1165010800113570035,BV1165010800113570035000,1,서초구 서초동,11650,10800,1.0,1357,35,...,26,0,1,0,1,449.01,98.57,55.76,1,2016-05-17
2318,202105,1111010600100910026,BV1111010600100910026000,1,종로구 통의동,11110,10600,1.0,91,26,...,-1,0,0,1,0,412.55,777.03,65.50,1,1989-05-31

In [61]:
data['주소']  # 함수적용 확인 (빅밸류 빌딩데이터)

0       서초구 반포동
1       강남구 청담동
2       강남구 청담동
3       강남구 삼성동
4       강남구 삼성동
         ...
2314    강남구 신사동
2315    서초구 서초동
2316    마포구 서교동
2317    서초구 서초동
2318    종로구 통의동
Name: 주소, Length: 2319, dtype: object

In [62]:
price['주소']  # 서울시 동별 평균 평당금액데이터의 주소 확인

0      강남구 개포동
1      강남구 논현동
2      강남구 대치동
3      강남구 도곡동
4      강남구 삼성동
        ...
398    중랑구 면목동
399     중랑구 묵동
400    중랑구 상봉동
401    중랑구 신내동
402    중랑구 중화동
Name: 주소, Length: 403, dtype: object

In [63]:
merge_data=pd.merge(data,price,how='left',left_on='주소',right_on='주소')  # 두 데이터를 주소기반으로 merge
merge_data

,년월,지번 주소 코드,지번주소+동 코드,대장구분 코드,주소,법정동 구 코드,법정동 동 코드,대지구분,번지1,번지2,...,위반건축물,주변 대규모 점포 수,지하철거리(m),종합병원거리(m),대로변거리(m),소유권변동,소유권변동일자,자치구명,법정동명,평당금액
0,202105,1165010700107010007,BV1165010700107010007000,1,서초구 반포동,11650,10700,1.0,701,7,...,0,16,415.54,289.79,28.06,0,1900-01-01,서초구,반포동,2.223416e+07
1,202105,1168010400101110000,BV1168010400101110000000,1,강남구 청담동,11680,10400,1.0,111,0,...,0,6,829.36,277.55,123.49,0,1900-01-01,강남구,청담동,1.688539e+07
2,202105,1168010400100460017,BV1168010400100460017000,1,강남구 청담동,11680,10400,1.0,46,17,...,0,6,468.15,102.43,55.49,1,2018-06-15,강남구,청담동,1.688539e+07
3,202105,1168010500101700008,BV1168010500101700008000,1,강남구 삼성동,11680,10500,1.0,170,8,...,0,3,271.72,199.84,34.62,0,1900-01-01,강남구,삼성동,1.637075e+07
4,202105,1168010500101440024,BV1168010500101440024000,1,강남구 삼성동,11680,10500,1.0,144,24,...,0,4,620.62,76.84,43.53,0,1900-01-01,강남구,삼성동,1.637075e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2314,202105,1168010700106370015,BV1168010700106370015000,1,강남구 신사동,11680,10700,1.0,637,15,...,0,11,540.83,90.15,79.09,1,1988-12-15,강남구,신사동,1.307642e+07
2315,202105,1165010800113400006,BV1165010800113400006000,1,서초구 서초동,11650,10800,1.0,1340,6,...,0,2,569.63,168.14,28.31,1,2018-05-31,서초구,서초동,1.222172e+07
2316,202105,1144012000103940002,BV1144012000103940002000,1,마포구 서교동,11440,12000,1.0,394,2,...,0,3,158.90,172.20,126.20,1,2016-09-20,마포구,서교동,8.950356e+06
2317,202105,1165010800113570035,BV1165010800113570035000,1,서초구 서초동,11650,10800,1.0,1357,35,...,0,1,449.01,98.57,55.76,1,2016-05-17,서초구,서초동,1.222172e+07
2318,202105,1111010600100910026,BV1111010600100910026000,1,종로구 통의동,11110,10600,1.0,91,26,...,1,0,412.55,777.03,65.50,1,1989-05-31,종로구,통의동,1.340317e+07

In [64]:
# 평당금액만 지수표현을 없애기 위한 처리 

sub = []
for i in merge_data['평당금액']:
    sub.append(format(i,'.0f'))
    
sub

['22234158',
 '16885390',
 '16885390',
 '16370755',
 '16370755',
 '10841903',
 '22234158',
 '12221723',
 '9031457',
 '6997416',
 '19107447',
 '8018082',
 '7874438',
 '12221723',
 '13441358',
 '6517477',
 '13441358',
 '19107447',
 '23528289',
 '5747020',
 '7728194',
 '16892238',
 '9932185',
 '10542000',
 '23708584',
 '7897383',
 '13403172',
 'nan',
 '20285806',
 'nan',
 '6517477',
 '11995201',
 '12221723',
 '14599214',
 '12221723',
 '17939737',
 '13448184',
 'nan',
 '13441358',
 '12221723',
 '13441358',
 '7167915',
 '13441358',
 'nan',
 '5892381',
 'nan',
 '12545719',
 '5549846',
 '5353078',
 '7214718',
 '13441358',
 '19107447',
 '16885390',
 '16370755',
 '10443799',
 '8662253',
 '6974484',
 'nan',
 'nan',
 'nan',
 '14478065',
 '11258496',
 '16370755',
 '13441358',
 '6517477',
 '10761673',
 '23528289',
 '10897041',
 '6517477',
 '5615651',
 '9031457',
 '11258496',
 '6897806',
 '6901199',
 '19107447',
 '11995201',
 '17939737',
 '13441358',
 '7585001',
 '11258496',
 '10443799',
 'nan',
 '13441358',
 '18598676',
 'nan',
 '11995201',
 '13441358',
 '11258496',
 '11258496',
 '12221723',
 '19107447',
 '23708584',
 '16074276',
 '14234279',
 '11258496',
 '13441358',
 '16370755',
 '11995201',
 '13441358',
 'nan',
 '12221723',
 '10203834',
 '13441358',
 '9031457',
 '13441358',
 '7573235',
 '16370755',
 '14599214',
 '14599214',
 '17939737',
 '11995201',
 '10813210',
 'nan',
 '19107447',
 'nan',
 '21558386',
 'nan',
 '6922170',
 '22234158',
 '7614554',
 'nan',
 '14234279',
 '7316824',
 '11995201',
 '12221723',
 '7592852',
 '19107447',
 '9031457',
 '16885390',
 '7328916',
 'nan',
 '13441358',
 '8018082',
 'nan',
 '9909627',
 '5747020',
 '13441358',
 '19107447',
 '7585001',
 '6517477',
 '10345587',
 '10963608',
 '10443799',
 '9031457',
 '6922170',
 '11258496',
 'nan',
 'nan',
 '6897806',
 '8163359',
 '19107447',
 '6897806',
 '16370755',
 '10675858',
 'nan',
 '16355567',
 '7214718',
 '8636411',
 '11258496',
 '15165395',
 '6066586',
 'nan',
 '16370755',
 'nan',
 '7132098',
 '8950356',
 'nan',
 'nan',
 'nan',
 'nan',
 '4536152',
 '13441358',
 '16370755',
 '12785339',
 'nan',
 '7585001',
 '10288815',
 '10841903',
 'nan',
 '11385016',
 '14599214',
 '5892381',
 '12478538',
 '13441358',
 '11385493',
 '8062730',
 '6307712',
 '19107447',
 '20285806',
 '10443799',
 '21558386',
 '13441358',
 '20354127',
 '16370755',
 '10143702',
 '12221723',
 '13441358',
 '22234158',
 '7618683',
 '9031457',
 '5988825',
 '9463638',
 '12045582',
 '8773327',
 '11258496',
 'nan',
 '12221723',
 '9031457',
 'nan',
 'nan',
 '10345587',
 '7585001',
 '8018082',
 '10443799',
 '13441358',
 '16370755',
 'nan',
 '12221723',
 '16370755',
 '7759456',
 'nan',
 '10542000',
 '8314260',
 '8773327',
 '11053446',
 '9455436',
 '19107447',
 'nan',
 '8491229',
 'nan',
 '19107447',
 '11995201',
 '10926690',
 '9694609',
 '17512968',
 'nan',
 '16083876',
 '10860722',
 '12672864',
 '8284759',
 '6517477',
 'nan',
 '8062730',
 '7167915',
 '6101247',
 '12545719',
 '11995201',
 '8062730',
 'nan',
 '6101247',
 '13076419',
 'nan',
 '7328916',
 '11385493',
 '5615651',
 '8758759',
 '10345587',
 '8284759',
 '8942654',
 '20354127',
 '14599214',
 '11385493',
 '9248543',
 '12221723',
 '13441358',
 '11995201',
 '19107447',
 '19107447',
 '11995201',
 '12221723',
 '6958372',
 '9932185',
 '19107447',
 '8950356',
 '16295831',
 '7614554',
 '9694609',
 'nan',
 '11995201',
 '7897383',
 '13076419',
 '7256130',
 '9031457',
 '16370755',
 '5073995',
 '4817170',
 '13441358',
 '11995201',
 '7614554',
 '6517477',
 'nan',
 '11547371',
 '16493375',
 '13441358',
 '8815029',
 '6592810',
 '12221723',
 '6307712',
 '11995201',
 '13441358',
 '6800829',
 '8412888',
 'nan',
 '13441358',
 '11995201',
 '6517477',
 '19107447',
 '11995201',
 '13441358',
 '7585001',
 '19107447',
 '23708584',
 '9653375',
 '7585001',
 '6244716',
 '16370755',
 '13441358',
 '16370755',
 '10108779',
 '11258496',
 'nan',
 '10542000',
 'nan',
 '11995201',
 'nan',
 '12903040',
 '12045582',
 '12221723',
 '12221723',
 '8163359',
 '12221723',
 '11995201',
 '5549846',
 '10860722',
 '11995201',
 '16370755',
 '6766403',
 '13441358',
 '12221723',
 '12672864',
 '11258496',
 '12221723',
 '8329206',
 '14599214',
 '9031457',
 '9031457',
 'nan',
 '12634349',
 '10262335',
 '11547371',
 '17939737',
 '7874438',
 '11258496',
 '18598676',
 'nan',
 '12221723',
 'nan',
 '13448184',
 '9932185',
 '11258496',
 'nan',
 '9463638',
 '8425072',
 '12221723',
 '12478538',
 '10018730',
 '10443799',
 '8261601',
 '10143702',
 '12221723',
 '11258496',
 'nan',
 '7523447',
 '7585001',
 '13441358',
 'nan',
 '14234279',
 '12221723',
 '6838366',
 '12221723',
 '7328916',
 '6517477',
 '10813210',
 '11995201',
 '13120272',
 '12045582',
 '11258496',
 '12221723',
 '19107447',
 'nan',
 '8163359',
 '11315257',
 '5549846',
 '23528289',
 '12221723',
 '10143702',
 'nan',
 '12545719',
 '9089903',
 '13441358',
 '16885390',
 '16370755',
 '13076419',
 '12221723',
 '12221723',
 '13441358',
 '7633934',
 '10443799',
 '9089595',
 'nan',
 'nan',
 '14599214',
 '14234279',
 '7592852',
 '6441040',
 '9031457',
 '9031457',
 '9031457',
 'nan',
 'nan',
 '18647436',
 '5337099',
 'nan',
 '19107447',
 '11258496',
 '13441358',
 '12545719',
 '6922170',
 '12221723',
 'nan',
 'nan',
 '18038214',
 '14599214',
 '11995201',
 '11995201',
 '11258496',
 '13441358',
 '8950356',
 '13441358',
 '13441358',
 'nan',
 '8815029',
 '9031457',
 '9031457',
 '7214718',
 'nan',
 '5527203',
 '7470095',
 '13076419',
 '23528289',
 'nan',
 '23708584',
 '19107447',
 'nan',
 '6901199',
 '7874438',
 '16370755',
 '13863090',
 '7169758',
 '16370755',
 '5549846',
 '9031457',
 '11995201',
 '7183888',
 'nan',
 '6517477',
 'nan',
 '10813210',
 '16074276',
 '18038214',
 '13441358',
 '13441358',
 '8329206',
 '6922170',
 '12221723',
 '12221723',
 '10897041',
 '13441358',
 '4688840',
 '8314260',
 '11258496',
 '13441358',
 '5747020',
 '12221723',
 'nan',
 '12221723',
 '8018082',
 'nan',
 'nan',
 '13441358',
 '13321917',
 '10443799',
 '10813210',
 '9031457',
 '8950356',
 '8357080',
 '8002453',
 '12221723',
 'nan',
 '10542000',
 '6697867',
 '8018082',
 '13076001',
 '12903040',
 '11995201',
 '16370755',
 '13441358',
 '13441358',
 '8506751',
 '8773327',
 '7810377',
 '10443799',
 '16370755',
 '11995201',
 'nan',
 '9932185',
 '10761673',
 '5615651',
 '19107447',
 '12221723',
 '6339039',
 '11258496',
 '18598676',
 'nan',
 '9694609',
 '16370755',
 '13441358',
 '9932185',
 '19107447',
 '18647436',
 '12221723',
 '12221723',
 'nan',
 '6838366',
 '16885390',
 '13441358',
 '11859592',
 '6517477',
 '6119167',
 '5296839',
 '20285806',
 '12221723',
 '4688840',
 '17939737',
 '13863090',
 '7214718',
 'nan',
 '13441358',
 '6997416',
 '8314260',
 '7848352',
 '9089903',
 '12045582',
 '20285806',
 '6862980',
 '23708584',
 '16370755',
 'nan',
 '10203834',
 '11315257',
 '14599214',
 '16370755',
 '7184723',
 '13441358',
 '10018730',
 '9248543',
 'nan',
 '9455436',
 'nan',
 '7132098',
 '10926690',
 '11995201',
 '14478065',
 '12221723',
 '12221723',
 '9031457',
 '13441358',
 '9812103',
 'nan',
 '10939464',
 '12221723',
 '12221723',
 '5296839',
 '16493375',
 '8773327',
 '20285806',
 'nan',
 '9031457',
 '7897383',
 '12916631',
 '6897806',
 '12221723',
 '10813210',
 '11447361',
 '11258496',
 '7214718',
 'nan',
 '6066586',
 '11995201',
 '16370755',
 '8950356',
 '10675858',
 '16493375',
 '8285015',
 '11485639',
 '13076419',
 '12221723',
 '8950356',
 '9031457',
 '11053446',
 'nan',
 '12221723',
 '16370755',
 '16370755',
 '19107447',
 'nan',
 '11053446',
 '23708584',
 '12221723',
 '14599214',
 '14599214',
 '11547371',
 '16370755',
 '10841903',
 '11258496',
 '13441358',
 '19107447',
 '19107447',
 'nan',
 '8412888',
 '8636411',
 '11995201',
 '6759859',
 '12221723',
 'nan',
 '9089595',
 'nan',
 '12478538',
 '10841903',
 '10813210',
 '7897383',
 '10813210',
 'nan',
 '16370755',
 '11995201',
 '16885390',
 '11258496',
 '8314260',
 '12903040',
 '7214718',
 '11995201',
 '13441358',
 '11258496',
 '8950356',
 '13441358',
 '8098778',
 '23528289',
 '11995201',
 '17939737',
 '16370755',
 '13441358',
 '13441358',
 '19107447',
 '11091724',
 '10443799',
 'nan',
 '8062730',
 '6610205',
 '11258496',
 '7897383',
 '22234158',
 'nan',
 '8018082',
 'nan',
 '6766403',
 '13441358',
 '12221723',
 '10542000',
 '17939737',
 '11995201',
 '11258496',
 '13441358',
 '19107447',
 '19107447',
 '17939737',
 '16885390',
 '6307712',
 '16370755',
 '11258496',
 '12903040',
 '18038214',
 '6766403',
 '12221723',
 '10143702',
 '13441358',
 '8062730',
 '16370755',
 'nan',
 '11995201',
 '18038214',
 '6244716',
 '10841903',
 '8284759',
 '12093816',
 '16355567',
 '10443799',
 '16370755',
 '12221723',
 '9031457',
 '6264418',
 '13441358',
 'nan',
 '13441358',
 '13441358',
 '13441358',
 '7328916',
 '13120272',
 '6759859',
 '9148490',
 '13441358',
 'nan',
 '12093816',
 '13441358',
 '7169758',
 '7585001',
 '16370755',
 '18598676',
 '6862980',
 '14599214',
 '11385493',
 '13076419',
 '14932618',
 '21558386',
 '7848352',
 '8662253',
 '13441358',
 '9644258',
 '16370755',
 '13441358',
 '6264418',
 '6838366',
 '17939737',
 '12221723',
 '16370755',
 '8351569',
 '11053446',
 '11995201',
 'nan',
 '12221723',
 '6897806',
 '14599214',
 '8062730',
 '13441358',
 '10926690',
 '17936337',
 '23708584',
 '16370755',
 'nan',
 'nan',
 '10851096',
 '10841903',
 '12169664',
 '13441358',
 '14234279',
 '10128933',
 '12221723',
 '10761673',
 '10542000',
 '7614554',
 '7897383',
 '19107447',
 '16885390',
 '11547371',
 '8163359',
 '19107447',
 'nan',
 'nan',
 'nan',
 '10473615',
 '12478538',
 '10018730',
 '12672864',
 '17939737',
 '19107447',
 '19107447',
 '11258496',
 '13441358',
 '17939737',
 '9932185',
 '8163359',
 '7614554',
 '10813210',
 '8285015',
 'nan',
 'nan',
 '13441358',
 '7848352',
 '23528289',
 '9568621',
 'nan',
 '19107447',
 '10542000',
 '10288815',
 '7614554',
 '12221723',
 '5615651',
 'nan',
 '11258496',
 '9031457',
 '11995201',
 '9195508',
 '6610205',
 'nan',
 'nan',
 '8910590',
 '10345587',
 '4688840',
 '16493375',
 '11258496',
 '12221723',
 '6066586',
 '6759859',
 '8506751',
 'nan',
 'nan',
 '6009038',
 '8815029',
 '6101247',
 'nan',
 '8797154',
 '10143702',
 '10813210',
 '8357080',
 'nan',
 'nan',
 '11995201',
 'nan',
 '11485639',
 '4536152',
 '6264418',
 '12221723',
 'nan',
 '16370755',
 '11995201',
 '13441358',
 '13441358',
 '16885390',
 '11053446',
 '13441358',
 '16370755',
 '9031457',
 '7328916',
 '6517477',
 '12545719',
 '19107447',
 '7183888',
 '16370755',
 '19107447',
 '13441358',
 'nan',
 '15931980',
 '9694609',
 '16370755',
 '12221723',
 '7633934',
 '6344483',
 '11053446',
 '12221723',
 '37506923',
 'nan',
 '10128933',
 '10841903',
 '12634349',
 '13441358',
 '12221723',
 '12221723',
 '4688840',
 '9464582',
 'nan',
 '6897806',
 '12221723',
 '10813210',
 '11995201',
 '12820620',
 '7848352',
 'nan',
 '11258496',
 '13441358',
 '7585001',
 'nan',
 '6307712',
 '11258496',
 '9148490',
 '10143702',
 'nan',
 '14599214',
 '17939737',
 '13441358',
 '8910590',
 '8950356',
 '12672864',
 'nan',
 '13441358',
 '11258496',
 '11258496',
 '16370755',
 '13441358',
 '16355567',
 '21558386',
 '16355567',
 '15931980',
 '7897857',
 '12672864',
 '6997416',
 'nan',
 '12478538',
 '14599214',
 '23708584',
 '7633934',
 '19107447',
 '11053446',
 '8854248',
 '13441358',
 '19107447',
 '11995201',
 '9932185',
 '10841903',
 '11258496',
 '10841903',
 '12221723',
 '13441358',
 '6759859',
 '11258496',
 '7214718',
 '8002453',
 '13441358',
 '11715940',
 '6958372',
 '12169664',
 '11258496',
 '19107447',
 '12221723',
 '11995201',
 '10018730',
 '8942654',
 'nan',
 '6697867',
 '9031457',
 'nan',
 '13441358',
 '13441358',
 '9248543',
 '12221723',
 '19107447',
 '13441358',
 '10128933',
 'nan',
 '12396655',
 '9932185',
 '16370755',
 '19107447',
 '19107447',
 'nan',
 'nan',
 '8950356',
 '16370755',
 '12221723',
 '17939737',
 '14234279',
 '11258496',
 '16370755',
 '10203834',
 'nan',
 '5747020',
 'nan',
 '10805868',
 '11995201',
 '16370755',
 '9464582',
 '6517477',
 '12221723',
 '16370755',
 '13441358',
 '13441358',
 '9447186',
 '9089595',
 '9463638',
 '12221723',
 '16074276',
 '19107447',
 '11995201',
 '13076419',
 '11258496',
 '6974484',
 '13076419',
 '16370755',
 '7897383',
 '10841903',
 '7316824',
 '16370755',
 ...]

In [65]:
merge_data['평당금액2']=sub

merge_data

,년월,지번 주소 코드,지번주소+동 코드,대장구분 코드,주소,법정동 구 코드,법정동 동 코드,대지구분,번지1,번지2,...,주변 대규모 점포 수,지하철거리(m),종합병원거리(m),대로변거리(m),소유권변동,소유권변동일자,자치구명,법정동명,평당금액,평당금액2
0,202105,1165010700107010007,BV1165010700107010007000,1,서초구 반포동,11650,10700,1.0,701,7,...,16,415.54,289.79,28.06,0,1900-01-01,서초구,반포동,2.223416e+07,22234158
1,202105,1168010400101110000,BV1168010400101110000000,1,강남구 청담동,11680,10400,1.0,111,0,...,6,829.36,277.55,123.49,0,1900-01-01,강남구,청담동,1.688539e+07,16885390
2,202105,1168010400100460017,BV1168010400100460017000,1,강남구 청담동,11680,10400,1.0,46,17,...,6,468.15,102.43,55.49,1,2018-06-15,강남구,청담동,1.688539e+07,16885390
3,202105,1168010500101700008,BV1168010500101700008000,1,강남구 삼성동,11680,10500,1.0,170,8,...,3,271.72,199.84,34.62,0,1900-01-01,강남구,삼성동,1.637075e+07,16370755
4,202105,1168010500101440024,BV1168010500101440024000,1,강남구 삼성동,11680,10500,1.0,144,24,...,4,620.62,76.84,43.53,0,1900-01-01,강남구,삼성동,1.637075e+07,16370755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2314,202105,1168010700106370015,BV1168010700106370015000,1,강남구 신사동,11680,10700,1.0,637,15,...,11,540.83,90.15,79.09,1,1988-12-15,강남구,신사동,1.307642e+07,13076419
2315,202105,1165010800113400006,BV1165010800113400006000,1,서초구 서초동,11650,10800,1.0,1340,6,...,2,569.63,168.14,28.31,1,2018-05-31,서초구,서초동,1.222172e+07,12221723
2316,202105,1144012000103940002,BV1144012000103940002000,1,마포구 서교동,11440,12000,1.0,394,2,...,3,158.90,172.20,126.20,1,2016-09-20,마포구,서교동,8.950356e+06,8950356
2317,202105,1165010800113570035,BV1165010800113570035000,1,서초구 서초동,11650,10800,1.0,1357,35,...,1,449.01,98.57,55.76,1,2016-05-17,서초구,서초동,1.222172e+07,12221723
2318,202105,1111010600100910026,BV1111010600100910026000,1,종로구 통의동,11110,10600,1.0,91,26,...,0,412.55,777.03,65.50,1,1989-05-31,종로구,통의동,1.340317e+07,13403172

In [66]:
merge_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2319 entries, 0 to 2318
Data columns (total 46 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   년월           2319 non-null   int64
 1   지번 주소 코드     2319 non-null   int64
 2   지번주소+동 코드    2319 non-null   object
 3   대장구분 코드      2319 non-null   int64
 4   주소           2319 non-null   object
 5   법정동 구 코드     2319 non-null   int64
 6   법정동 동 코드     2319 non-null   int64
 7   대지구분         2319 non-null   float64
 8   번지1          2319 non-null   int64
 9   번지2          2319 non-null   int64
 10  경도           2319 non-null   float64
 11  위도           2319 non-null   float64
 12  건물 이름        1319 non-null   object
 13  동 이름         332 non-null    object
 14  주용도코드        2319 non-null   int64
 15  주용도명         2319 non-null   object
 16  대지면적         2319 non-null   float64
 17  건축면적         2319 non-null   float64
 18  건폐율          2319 non-null   float64
 19  연면적          2319 non-null   float64
 20  지상연면적        2319 non-null   float64
 21  용적률          2319 non-null   float64
 22  구조코드         2319 non-null   int64
 23  높이           2319 non-null   float64
 24  지상 층수        2312 non-null   float64
 25  지하 층수        2319 non-null   int64
 26  엘리베이터        2319 non-null   int64
 27  주차장          2319 non-null   int64
 28  사용승인일        2261 non-null   float64
 29  건물 수         2319 non-null   int64
 30  다른용도 건물 수    2319 non-null   int64
 31  복합주용도        2319 non-null   int64
 32  경과연수         2319 non-null   int64
 33  전유부 수        2319 non-null   int64
 34  리모델링         2319 non-null   int64
 35  위반건축물        2319 non-null   int64
 36  주변 대규모 점포 수  2319 non-null   int64
 37  지하철거리(m)     2319 non-null   float64
 38  종합병원거리(m)    2319 non-null   float64
 39  대로변거리(m)     2319 non-null   float64
 40  소유권변동        2319 non-null   int64
 41  소유권변동일자      2319 non-null   object
 42  자치구명         1985 non-null   object
 43  법정동명         1985 non-null   object
 44  평당금액         1985 non-null   float64
 45  평당금액2        2319 non-null   object
dtypes: float64(16), int64(21), object(9)
memory usage: 851.5+ KB

In [67]:
merge_data.isnull().sum()

년월                0
지번 주소 코드          0
지번주소+동 코드         0
대장구분 코드           0
주소                0
법정동 구 코드          0
법정동 동 코드          0
대지구분              0
번지1               0
번지2               0
경도                0
위도                0
건물 이름          1000
동 이름           1987
주용도코드             0
주용도명              0
대지면적              0
건축면적              0
건폐율               0
연면적               0
지상연면적             0
용적률               0
구조코드              0
높이                0
지상 층수             7
지하 층수             0
엘리베이터             0
주차장               0
사용승인일            58
건물 수              0
다른용도 건물 수         0
복합주용도             0
경과연수              0
전유부 수             0
리모델링              0
위반건축물             0
주변 대규모 점포 수       0
지하철거리(m)          0
종합병원거리(m)         0
대로변거리(m)          0
소유권변동             0
소유권변동일자           0
자치구명            334
법정동명            334
평당금액            334
평당금액2             0
dtype: int64

In [68]:
merge_data.dropna(subset=['평당금액'],inplace=True)  # 평당금액이 결측인 데이터 제거

In [69]:
merge_data.isnull().sum()

년월                0
지번 주소 코드          0
지번주소+동 코드         0
대장구분 코드           0
주소                0
법정동 구 코드          0
법정동 동 코드          0
대지구분              0
번지1               0
번지2               0
경도                0
위도                0
건물 이름           843
동 이름           1695
주용도코드             0
주용도명              0
대지면적              0
건축면적              0
건폐율               0
연면적               0
지상연면적             0
용적률               0
구조코드              0
높이                0
지상 층수             5
지하 층수             0
엘리베이터             0
주차장               0
사용승인일            33
건물 수              0
다른용도 건물 수         0
복합주용도             0
경과연수              0
전유부 수             0
리모델링              0
위반건축물             0
주변 대규모 점포 수       0
지하철거리(m)          0
종합병원거리(m)         0
대로변거리(m)          0
소유권변동             0
소유권변동일자           0
자치구명              0
법정동명              0
평당금액              0
평당금액2             0
dtype: int64

In [70]:
merge_data=merge_data.drop('평당금액',axis=1)  # 기존 평당금액 컬럼 삭제
merge_data

,년월,지번 주소 코드,지번주소+동 코드,대장구분 코드,주소,법정동 구 코드,법정동 동 코드,대지구분,번지1,번지2,...,위반건축물,주변 대규모 점포 수,지하철거리(m),종합병원거리(m),대로변거리(m),소유권변동,소유권변동일자,자치구명,법정동명,평당금액2
0,202105,1165010700107010007,BV1165010700107010007000,1,서초구 반포동,11650,10700,1.0,701,7,...,0,16,415.54,289.79,28.06,0,1900-01-01,서초구,반포동,22234158
1,202105,1168010400101110000,BV1168010400101110000000,1,강남구 청담동,11680,10400,1.0,111,0,...,0,6,829.36,277.55,123.49,0,1900-01-01,강남구,청담동,16885390
2,202105,1168010400100460017,BV1168010400100460017000,1,강남구 청담동,11680,10400,1.0,46,17,...,0,6,468.15,102.43,55.49,1,2018-06-15,강남구,청담동,16885390
3,202105,1168010500101700008,BV1168010500101700008000,1,강남구 삼성동,11680,10500,1.0,170,8,...,0,3,271.72,199.84,34.62,0,1900-01-01,강남구,삼성동,16370755
4,202105,1168010500101440024,BV1168010500101440024000,1,강남구 삼성동,11680,10500,1.0,144,24,...,0,4,620.62,76.84,43.53,0,1900-01-01,강남구,삼성동,16370755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2314,202105,1168010700106370015,BV1168010700106370015000,1,강남구 신사동,11680,10700,1.0,637,15,...,0,11,540.83,90.15,79.09,1,1988-12-15,강남구,신사동,13076419
2315,202105,1165010800113400006,BV1165010800113400006000,1,서초구 서초동,11650,10800,1.0,1340,6,...,0,2,569.63,168.14,28.31,1,2018-05-31,서초구,서초동,12221723
2316,202105,1144012000103940002,BV1144012000103940002000,1,마포구 서교동,11440,12000,1.0,394,2,...,0,3,158.90,172.20,126.20,1,2016-09-20,마포구,서교동,8950356
2317,202105,1165010800113570035,BV1165010800113570035000,1,서초구 서초동,11650,10800,1.0,1357,35,...,0,1,449.01,98.57,55.76,1,2016-05-17,서초구,서초동,12221723
2318,202105,1111010600100910026,BV1111010600100910026000,1,종로구 통의동,11110,10600,1.0,91,26,...,1,0,412.55,777.03,65.50,1,1989-05-31,종로구,통의동,13403172

In [71]:
#merge_data.to_csv('빌딩+평당금액.csv')   # 빅밸류의 빌딩데이터와 동별 평균 평당금액을 합친 데이터를 csv로 저장

## 빅밸류의 빌딩데이터와 동별 평균 평당금액을 합친 데이터에 동별 창업매력도 합치기

In [72]:
import pandas as pd
# data  = pd.read_csv('/home/jovyan/WIDE_HOME/유수빈/빌딩+평당금액.csv')
data=merge_data
data

,년월,지번 주소 코드,지번주소+동 코드,대장구분 코드,주소,법정동 구 코드,법정동 동 코드,대지구분,번지1,번지2,...,위반건축물,주변 대규모 점포 수,지하철거리(m),종합병원거리(m),대로변거리(m),소유권변동,소유권변동일자,자치구명,법정동명,평당금액2
0,202105,1165010700107010007,BV1165010700107010007000,1,서초구 반포동,11650,10700,1.0,701,7,...,0,16,415.54,289.79,28.06,0,1900-01-01,서초구,반포동,22234158
1,202105,1168010400101110000,BV1168010400101110000000,1,강남구 청담동,11680,10400,1.0,111,0,...,0,6,829.36,277.55,123.49,0,1900-01-01,강남구,청담동,16885390
2,202105,1168010400100460017,BV1168010400100460017000,1,강남구 청담동,11680,10400,1.0,46,17,...,0,6,468.15,102.43,55.49,1,2018-06-15,강남구,청담동,16885390
3,202105,1168010500101700008,BV1168010500101700008000,1,강남구 삼성동,11680,10500,1.0,170,8,...,0,3,271.72,199.84,34.62,0,1900-01-01,강남구,삼성동,16370755
4,202105,1168010500101440024,BV1168010500101440024000,1,강남구 삼성동,11680,10500,1.0,144,24,...,0,4,620.62,76.84,43.53,0,1900-01-01,강남구,삼성동,16370755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2314,202105,1168010700106370015,BV1168010700106370015000,1,강남구 신사동,11680,10700,1.0,637,15,...,0,11,540.83,90.15,79.09,1,1988-12-15,강남구,신사동,13076419
2315,202105,1165010800113400006,BV1165010800113400006000,1,서초구 서초동,11650,10800,1.0,1340,6,...,0,2,569.63,168.14,28.31,1,2018-05-31,서초구,서초동,12221723
2316,202105,1144012000103940002,BV1144012000103940002000,1,마포구 서교동,11440,12000,1.0,394,2,...,0,3,158.90,172.20,126.20,1,2016-09-20,마포구,서교동,8950356
2317,202105,1165010800113570035,BV1165010800113570035000,1,서초구 서초동,11650,10800,1.0,1357,35,...,0,1,449.01,98.57,55.76,1,2016-05-17,서초구,서초동,12221723
2318,202105,1111010600100910026,BV1111010600100910026000,1,종로구 통의동,11110,10600,1.0,91,26,...,1,0,412.55,777.03,65.50,1,1989-05-31,종로구,통의동,13403172

In [73]:
## 데이터: 동별창업매력도 
attr = pd.read_csv('/home/jovyan/WIDE_HOME/동별창업매력도.csv')
attr=attr.drop(['Unnamed: 0'],axis=1)
attr

        동  사업체 창업률
0     사직동    12.87
1     삼청동    16.26
2     부암동    14.36
3     평창동    13.27
4     무악동     7.11
..    ...      ...
443  둔촌1동    11.76
444  둔촌2동    11.65
445  암사1동    14.65
446  천호2동    15.00
447    길동    12.23

[448 rows x 2 columns]

In [74]:
import re  # 사업체 창업률을 data와 merge하기 위해 숫자가 있는 동을 확인후 sub에 저장 (빅밸류+동별평균평당금액 데이터는 ~~동으로 구성되어 있기 때문에)

sub=[]
    
for i in range(len(attr)):
    if any(chr.isdigit() for chr in attr.iloc[i]['동']):
        sub.append(attr.iloc[i]['동'])
        
sub

['종로1.2.3.4가동',
 '종로5·6가동',
 '창신1동',
 '창신2동',
 '창신3동',
 '숭인1동',
 '숭인2동',
 '신당5동',
 '용산2가동',
 '원효로2동',
 '이촌1동',
 '이촌2동',
 '이태원1동',
 '이태원2동',
 '원효로1동',
 '왕십리2동',
 '행당1동',
 '행당2동',
 '금호1가동',
 '금호4가동',
 '성수1가1동',
 '성수1가2동',
 '성수2가1동',
 '성수2가3동',
 '금호2.3가동',
 '중곡1동',
 '중곡2동',
 '중곡3동',
 '중곡4동',
 '구의1동',
 '구의2동',
 '구의3동',
 '자양1동',
 '자양2동',
 '자양3동',
 '자양4동',
 '휘경1동',
 '휘경2동',
 '전농1동',
 '전농2동',
 '답십리1동',
 '답십리2동',
 '장안1동',
 '장안2동',
 '이문1동',
 '이문2동',
 '면목2동',
 '면목4동',
 '면목5동',
 '면목7동',
 '상봉1동',
 '상봉2동',
 '중화1동',
 '중화2동',
 '묵1동',
 '묵2동',
 '망우3동',
 '신내1동',
 '신내2동',
 '면목3.8동',
 '돈암1동',
 '돈암2동',
 '정릉1동',
 '정릉2동',
 '정릉3동',
 '정릉4동',
 '길음1동',
 '길음2동',
 '월곡1동',
 '월곡2동',
 '장위1동',
 '장위2동',
 '장위3동',
 '번1동',
 '번2동',
 '번3동',
 '수유1동',
 '수유2동',
 '수유3동',
 '쌍문1동',
 '쌍문2동',
 '쌍문3동',
 '쌍문4동',
 '방학1동',
 '방학2동',
 '방학3동',
 '창1동',
 '창2동',
 '창3동',
 '창4동',
 '창5동',
 '도봉1동',
 '도봉2동',
 '월계1동',
 '월계2동',
 '월계3동',
 '공릉2동',
 '하계1동',
 '하계2동',
 '중계1동',
 '중계4동',
 '상계1동',
 '상계2동',
 '상계5동',
 '상계8동',
 '상계9동',
 '상계10동',
 '상계3.4동',
 '상계6.7동',
 '중계2.3동',
 '공릉1동',
 '불광1동',
 '갈현1동',
 '갈현2동',
 '응암1동',
 '응암2동',
 '신사1동',
 '신사2동',
 '불광2동',
 '응암3동',
 '홍제1동',
 '홍제3동',
 '홍제2동',
 '홍은1동',
 '홍은2동',
 '남가좌1동',
 '남가좌2동',
 '북가좌1동',
 '북가좌2동',
 '망원1동',
 '망원2동',
 '성산1동',
 '성산2동',
 '목1동',
 '목2동',
 '목3동',
 '목4동',
 '신월1동',
 '신월2동',
 '신월3동',
 '신월4동',
 '신월5동',
 '신월6동',
 '신월7동',
 '신정1동',
 '신정2동',
 '신정3동',
 '신정6동',
 '신정7동',
 '목5동',
 '신정4동',
 '등촌1동',
 '등촌2동',
 '등촌3동',
 '화곡2동',
 '화곡3동',
 '화곡4동',
 '화곡6동',
 '화곡8동',
 '가양1동',
 '가양2동',
 '가양3동',
 '발산1동',
 '방화1동',
 '방화2동',
 '방화3동',
 '화곡1동',
 '구로1동',
 '구로3동',
 '구로4동',
 '구로5동',
 '고척1동',
 '고척2동',
 '개봉2동',
 '개봉3동',
 '오류1동',
 '오류2동',
 '구로2동',
 '개봉1동',
 '독산1동',
 '독산2동',
 '독산3동',
 '독산4동',
 '시흥1동',
 '시흥2동',
 '시흥3동',
 '시흥4동',
 '시흥5동',
 '당산1동',
 '당산2동',
 '양평1동',
 '양평2동',
 '신길1동',
 '신길3동',
 '신길4동',
 '신길5동',
 '신길6동',
 '신길7동',
 '대림1동',
 '대림2동',
 '대림3동',
 '노량진2동',
 '상도1동',
 '상도2동',
 '상도3동',
 '상도4동',
 '사당1동',
 '사당3동',
 '사당4동',
 '사당5동',
 '신대방1동',
 '신대방2동',
 '노량진1동',
 '사당2동',
 '서초1동',
 '서초2동',
 '서초3동',
 '서초4동',
 '반포1동',
 '반포2동',
 '반포3동',
 '반포4동',
 '방배1동',
 '방배2동',
 '방배3동',
 '방배4동',
 '양재1동',
 '양재2동',
 '논현1동',
 '논현2동',
 '삼성1동',
 '삼성2동',
 '대치1동',
 '대치4동',
 '역삼1동',
 '역삼2동',
 '도곡1동',
 '도곡2동',
 '개포1동',
 '개포4동',
 '일원1동',
 '일원2동',
 '대치2동',
 '개포2동',
 '풍납1동',
 '풍납2동',
 '거여1동',
 '거여2동',
 '마천1동',
 '마천2동',
 '방이1동',
 '방이2동',
 '송파1동',
 '송파2동',
 '가락1동',
 '가락2동',
 '문정1동',
 '문정2동',
 '잠실4동',
 '잠실6동',
 '잠실7동',
 '잠실2동',
 '잠실3동',
 '명일1동',
 '명일2동',
 '고덕1동',
 '고덕2동',
 '암사2동',
 '암사3동',
 '천호1동',
 '천호3동',
 '성내1동',
 '성내2동',
 '성내3동',
 '둔촌1동',
 '둔촌2동',
 '암사1동',
 '천호2동']

In [75]:
sub = pd.DataFrame(sub)
sub

               0
0    종로1.2.3.4가동
1        종로5·6가동
2           창신1동
3           창신2동
4           창신3동
..           ...
273         성내3동
274         둔촌1동
275         둔촌2동
276         암사1동
277         천호2동

[278 rows x 1 columns]

In [76]:
import re  # 숫자가 있는 동의 숫자 없애주기 

def remove_num(text):
    a= re.sub(r'[0-9]+', '', text)
    return a
    
for i in range(len(sub)):
    sub[i:i+1][0]=remove_num(sub.iloc[i][0]).rstrip()
    
sub

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

           0
0    종로...가동
1      종로·가동
2        창신동
3        창신동
4        창신동
..       ...
273      성내동
274      둔촌동
275      둔촌동
276      암사동
277      천호동

[278 rows x 1 columns]

In [77]:
import re  #기존 사업체 창업률 데이터에서도 동의 숫자제거

def remove_num(text):
    a= re.sub(r'[0-9]+', '', text)
    return a


for i in range(len(attr)):
    attr[i:i+1]['동']=remove_num(attr.iloc[i]['동']).rstrip()
    
attr

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

       동  사업체 창업률
0    사직동    12.87
1    삼청동    16.26
2    부암동    14.36
3    평창동    13.27
4    무악동     7.11
..   ...      ...
443  둔촌동    11.76
444  둔촌동    11.65
445  암사동    14.65
446  천호동    15.00
447   길동    12.23

[448 rows x 2 columns]

In [78]:
attr[7:8]['동']='종로1가'
attr[8:9]['동']='종로6가'
attr[attr['동'].str.contains('종로')]

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

      동  사업체 창업률
7  종로1가     9.24
8  종로6가     8.57

In [79]:
sub[0][0]='종로1가'
sub[0][1]='종로6가'
sub

        0
0    종로1가
1    종로6가
2     창신동
3     창신동
4     창신동
..    ...
273   성내동
274   둔촌동
275   둔촌동
276   암사동
277   천호동

[278 rows x 1 columns]

In [80]:
sub = sub.drop_duplicates([0])
sub

        0
0    종로1가
1    종로6가
2     창신동
5     숭인동
7     신당동
..    ...
265   고덕동
267   암사동
269   천호동
271   성내동
274   둔촌동

[104 rows x 1 columns]

In [81]:
import numpy as np  #사업체 창업률을 sub에 각 해당하는 동에 맞게 매칭
a=[]
ans = []
for i in sub[0]:
    for j in range(len(attr)):
        if attr.iloc[j]['동'] in i:
            a.append(int(attr.iloc[j]['사업체 창업률']))
    ans.append(round(np.mean(a),2))
    
    
ans

[9.0,
 8.5,
 12.0,
 12.43,
 13.22,
 13.7,
 13.25,
 12.71,
 13.25,
 13.24,
 13.21,
 13.19,
 13.48,
 13.42,
 13.33,
 13.3,
 13.41,
 13.26,
 13.2,
 13.07,
 13.07,
 13.09,
 13.07,
 13.1,
 13.08,
 13.08,
 13.06,
 13.0,
 13.0,
 12.85,
 12.74,
 12.78,
 12.76,
 12.75,
 12.67,
 12.74,
 12.7,
 12.72,
 12.67,
 12.65,
 12.7,
 12.7,
 12.74,
 12.82,
 12.82,
 12.85,
 12.89,
 12.88,
 12.89,
 12.9,
 12.89,
 12.87,
 12.87,
 12.87,
 12.86,
 12.87,
 12.86,
 12.88,
 12.79,
 12.79,
 12.79,
 12.82,
 12.85,
 12.88,
 12.86,
 12.82,
 12.8,
 12.78,
 12.78,
 12.76,
 12.72,
 12.72,
 12.71,
 12.66,
 12.66,
 12.65,
 12.64,
 12.63,
 12.62,
 12.68,
 12.69,
 12.69,
 12.69,
 12.72,
 12.74,
 12.76,
 12.8,
 12.81,
 12.8,
 12.77,
 12.75,
 12.74,
 12.73,
 12.74,
 12.75,
 12.74,
 12.76,
 12.76,
 12.76,
 12.8,
 12.8,
 12.81,
 12.82,
 12.81]

In [82]:
sub =pd.DataFrame(sub)
sub['사업체 창업률']=ans

sub

        0  사업체 창업률
0    종로1가     9.00
1    종로6가     8.50
2     창신동    12.00
5     숭인동    12.43
7     신당동    13.22
..    ...      ...
265   고덕동    12.80
267   암사동    12.80
269   천호동    12.81
271   성내동    12.82
274   둔촌동    12.81

[104 rows x 2 columns]

In [83]:
for i in range(len(attr)):  #sub를 기반으로 원래 사업체 창업률 데이터에 동을 기준으로 사업체 창업률 붙여주기
    if attr['동'][i] in list(sub[0]):
        attr['사업체 창업률'][i]=sub[sub[0]==attr['동'][i]]['사업체 창업률']
        
attr

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

       동  사업체 창업률
0    사직동    12.87
1    삼청동    16.26
2    부암동    14.36
3    평창동    13.27
4    무악동     7.11
..   ...      ...
443  둔촌동    12.81
444  둔촌동    12.81
445  암사동    12.80
446  천호동    12.81
447   길동    12.23

[448 rows x 2 columns]

In [84]:
attr['동'].unique() #숫자가 제거된것을 알 수 있음 (종로1가 종로6가는 특별히 제외)

array(['사직동', '삼청동', '부암동', '평창동', '무악동', '교남동', '가회동', '종로1가', '종로6가',
       '이화동', '창신동', '숭인동', '청운효자동', '혜화동', '계', '소공동', '회현동', '명동', '필동',
       '장충동', '광희동', '을지로동', '신당동', '황학동', '중림동', '다산동', '약수동', '청구동',
       '동화동', '후암동', '용산가동', '남영동', '원효로동', '효창동', '용문동', '이촌동', '이태원동',
       '서빙고동', '보광동', '청파동', '한강로동', '한남동', '왕십리동', '마장동', '사근동', '행당동',
       '응봉동', '금호가동', '성수가동', '송정동', '용답동', '왕십리도선동', '금호.가동', '옥수동',
       '화양동', '군자동', '중곡동', '능동', '구의동', '광장동', '자양동', '회기동', '휘경동',
       '청량리동', '용신동', '제기동', '전농동', '답십리동', '장안동', '이문동', '면목동', '상봉동',
       '중화동', '묵동', '망우동', '신내동', '면목본동', '면목.동', '망우본동', '돈암동', '안암동',
       '보문동', '정릉동', '길음동', '월곡동', '장위동', '성북동', '삼선동', '동선동', '종암동',
       '석관동', '번동', '수유동', '삼양동', '미아동', '송중동', '송천동', '삼각산동', '우이동',
       '인수동', '쌍문동', '방학동', '창동', '도봉동', '월계동', '공릉동', '하계동', '중계본동',
       '중계동', '상계동', '상계.동', '중계.동', '녹번동', '불광동', '갈현동', '구산동', '대조동',
       '응암동', '신사동', '증산동', '수색동', '진관동', '역촌동', '천연동', '홍제동', '홍은동',
       '남가좌동', '북가좌동', '충현동', '북아현동', '신촌동', '연희동', '용강동', '대흥동', '염리동',
       '신수동', '서교동', '합정동', '망원동', '연남동', '성산동', '상암동', '도화동', '서강동',
       '공덕동', '아현동', '목동', '신월동', '신정동', '염창동', '등촌동', '화곡본동', '화곡동',
       '가양동', '발산동', '공항동', '방화동', '우장산동', '신도림동', '구로동', '고척동', '개봉동',
       '오류동', '수궁동', '가리봉동', '가산동', '독산동', '시흥동', '여의동', '당산동', '양평동',
       '신길동', '대림동', '영등포본동', '영등포동', '도림동', '문래동', '노량진동', '상도동', '사당동',
       '대방동', '신대방동', '흑석동', '보라매동', '청림동', '행운동', '낙성대동', '중앙동', '인헌동',
       '남현동', '서원동', '신원동', '서림동', '신림동', '난향동', '조원동', '대학동', '은천동',
       '성현동', '청룡동', '난곡동', '삼성동', '미성동', '서초동', '잠원동', '반포본동', '반포동',
       '방배본동', '방배동', '양재동', '내곡동', '논현동', '대치동', '역삼동', '도곡동', '개포동',
       '일원본동', '일원동', '수서동', '세곡동', '압구정동', '청담동', '풍납동', '거여동', '마천동',
       '방이동', '오륜동', '오금동', '송파동', '석촌동', '삼전동', '가락본동', '가락동', '문정동',
       '장지동', '위례동', '잠실본동', '잠실동', '강일동', '상일동', '명일동', '고덕동', '암사동',
       '천호동', '성내동', '둔촌동', '길동'], dtype=object)

In [85]:
attr=attr.drop_duplicates(['동'])  # 빌딩+동별평균평당금액과 사업체창업률 데이터를 merge하기 위해 중복값제거

In [86]:
data = pd.merge(data,attr,how = 'left',left_on='법정동명',right_on='동')  #데이터 합치기

In [87]:
data.isnull().sum()

년월                0
지번 주소 코드          0
지번주소+동 코드         0
대장구분 코드           0
주소                0
법정동 구 코드          0
법정동 동 코드          0
대지구분              0
번지1               0
번지2               0
경도                0
위도                0
건물 이름           843
동 이름           1695
주용도코드             0
주용도명              0
대지면적              0
건축면적              0
건폐율               0
연면적               0
지상연면적             0
용적률               0
구조코드              0
높이                0
지상 층수             5
지하 층수             0
엘리베이터             0
주차장               0
사용승인일            33
건물 수              0
다른용도 건물 수         0
복합주용도             0
경과연수              0
전유부 수             0
리모델링              0
위반건축물             0
주변 대규모 점포 수       0
지하철거리(m)          0
종합병원거리(m)         0
대로변거리(m)          0
소유권변동             0
소유권변동일자           0
자치구명              0
법정동명              0
평당금액2             0
동               429
사업체 창업률         429
dtype: int64

In [88]:
data

,년월,지번 주소 코드,지번주소+동 코드,대장구분 코드,주소,법정동 구 코드,법정동 동 코드,대지구분,번지1,번지2,...,지하철거리(m),종합병원거리(m),대로변거리(m),소유권변동,소유권변동일자,자치구명,법정동명,평당금액2,동,사업체 창업률
0,202105,1165010700107010007,BV1165010700107010007000,1,서초구 반포동,11650,10700,1.0,701,7,...,415.54,289.79,28.06,0,1900-01-01,서초구,반포동,22234158,반포동,12.69
1,202105,1168010400101110000,BV1168010400101110000000,1,강남구 청담동,11680,10400,1.0,111,0,...,829.36,277.55,123.49,0,1900-01-01,강남구,청담동,16885390,청담동,19.14
2,202105,1168010400100460017,BV1168010400100460017000,1,강남구 청담동,11680,10400,1.0,46,17,...,468.15,102.43,55.49,1,2018-06-15,강남구,청담동,16885390,청담동,19.14
3,202105,1168010500101700008,BV1168010500101700008000,1,강남구 삼성동,11680,10500,1.0,170,8,...,271.72,199.84,34.62,0,1900-01-01,강남구,삼성동,16370755,삼성동,12.74
4,202105,1168010500101440024,BV1168010500101440024000,1,강남구 삼성동,11680,10500,1.0,144,24,...,620.62,76.84,43.53,0,1900-01-01,강남구,삼성동,16370755,삼성동,12.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1980,202105,1168010700106370015,BV1168010700106370015000,1,강남구 신사동,11680,10700,1.0,637,15,...,540.83,90.15,79.09,1,1988-12-15,강남구,신사동,13076419,신사동,12.89
1981,202105,1165010800113400006,BV1165010800113400006000,1,서초구 서초동,11650,10800,1.0,1340,6,...,569.63,168.14,28.31,1,2018-05-31,서초구,서초동,12221723,서초동,12.68
1982,202105,1144012000103940002,BV1144012000103940002000,1,마포구 서교동,11440,12000,1.0,394,2,...,158.90,172.20,126.20,1,2016-09-20,마포구,서교동,8950356,서교동,18.77
1983,202105,1165010800113570035,BV1165010800113570035000,1,서초구 서초동,11650,10800,1.0,1357,35,...,449.01,98.57,55.76,1,2016-05-17,서초구,서초동,12221723,서초동,12.68
1984,202105,1111010600100910026,BV1111010600100910026000,1,종로구 통의동,11110,10600,1.0,91,26,...,412.55,777.03,65.50,1,1989-05-31,종로구,통의동,13403172,NaN,NaN

In [ ]:
# data.to_csv('빌딩+평당금액.csv') 해당 데이터 csv로 저장