In [1]:
#from sklearn.datasets import make_circles, make_moons
from sklearn.cluster import DBSCAN
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings(action='ignore')

# 서울 - 위경도 (한울데이터)

In [2]:
add=pd.read_excel('/home/jovyan/WIDE_HOME//유수빈/add.xlsx')
add

        Unnamed: 0                        주소         lon        lat
0                0   서울특별시 종로구 청운동 자하문로 94 0  126.970406  37.584415
1                1   서울특별시 종로구 청운동 자하문로 96 0  126.970423  37.584513
2                2   서울특별시 종로구 청운동 자하문로 98 0  126.970394  37.584697
3                3   서울특별시 종로구 청운동 자하문로 99 3  126.969878  37.584916
4                4   서울특별시 종로구 청운동 자하문로 99 4  126.969853  37.585080
...            ...                       ...         ...        ...
540775      540775  서울특별시 강동구 강일동 가래여울길 49 0  127.165354  37.575175
540776      540776  서울특별시 강동구 강일동 가래여울길 50 0  127.165159  37.575395
540777      540777  서울특별시 강동구 강일동 가래여울길 57 0  127.165166  37.574902
540778      540778  서울특별시 강동구 강일동 가래여울길 59 0  127.165425  37.574825
540779      540779  서울특별시 강동구 강일동 가래여울길 61 0  127.165045  37.574538

[540780 rows x 4 columns]

In [3]:
add['서울시구']= add['주소'].apply(lambda x :str(x)[:9])

In [4]:
add['서울시구'].unique()

array(['서울특별시 종로구', '서울특별시 중구 ', '서울특별시 용산구', '서울특별시 성동구', '서울특별시 광진구',
       '서울특별시 동대문', '서울특별시 중랑구', '서울특별시 성북구', '서울특별시 강북구', '서울특별시 도봉구',
       '서울특별시 노원구', '서울특별시 은평구', '서울특별시 서대문', '서울특별시 마포구', '서울특별시 양천구',
       '서울특별시 강서구', '서울특별시 구로구', '서울특별시 금천구', '서울특별시 영등포', '서울특별시 동작구',
       '서울특별시 관악구', '서울특별시 서초구', '서울특별시 강남구', '서울특별시 송파구', '서울특별시 강동구'],
      dtype=object)

In [107]:
import re
H =add.copy()
#H['주소']  = [re.sub('[0-9]+', '', e) for e in H['주소']]
#H['주소'] = H['주소'].str.replace(pat=r'[^\w]', repl=r' ', regex=True)
H = H.drop(['Unnamed: 0'],axis =1)
H

                              주소         lon        lat       서울시구
0        서울특별시 종로구 청운동 자하문로 94 0  126.970406  37.584415  서울특별시 종로구
1        서울특별시 종로구 청운동 자하문로 96 0  126.970423  37.584513  서울특별시 종로구
2        서울특별시 종로구 청운동 자하문로 98 0  126.970394  37.584697  서울특별시 종로구
3        서울특별시 종로구 청운동 자하문로 99 3  126.969878  37.584916  서울특별시 종로구
4        서울특별시 종로구 청운동 자하문로 99 4  126.969853  37.585080  서울특별시 종로구
...                          ...         ...        ...        ...
540775  서울특별시 강동구 강일동 가래여울길 49 0  127.165354  37.575175  서울특별시 강동구
540776  서울특별시 강동구 강일동 가래여울길 50 0  127.165159  37.575395  서울특별시 강동구
540777  서울특별시 강동구 강일동 가래여울길 57 0  127.165166  37.574902  서울특별시 강동구
540778  서울특별시 강동구 강일동 가래여울길 59 0  127.165425  37.574825  서울특별시 강동구
540779  서울특별시 강동구 강일동 가래여울길 61 0  127.165045  37.574538  서울특별시 강동구

[540780 rows x 4 columns]

In [5]:
H['lon'].value_counts()

inf           450
127.039322      1
126.915700      1
127.040456      1
126.809998      1
             ...
126.904449      1
127.036908      1
126.953684      1
127.056907      1
127.131428      1
Name: lon, Length: 540331, dtype: int64

In [8]:
H['lat'].value_counts()

inf          450
37.532585      1
37.601303      1
37.497620      1
37.504777      1
            ...
37.567069      1
37.487223      1
37.559055      1
37.522183      1
37.446639      1
Name: lat, Length: 540331, dtype: int64

In [108]:
H = H.replace([np.inf, -np.inf], np.nan) # np.inf를 None(np.nan)으로 변경

In [109]:
H.isnull().sum()

주소        0
lon     450
lat     450
서울시구      0
dtype: int64

In [110]:
H = H.dropna()
H

                              주소         lon        lat       서울시구
0        서울특별시 종로구 청운동 자하문로 94 0  126.970406  37.584415  서울특별시 종로구
1        서울특별시 종로구 청운동 자하문로 96 0  126.970423  37.584513  서울특별시 종로구
2        서울특별시 종로구 청운동 자하문로 98 0  126.970394  37.584697  서울특별시 종로구
3        서울특별시 종로구 청운동 자하문로 99 3  126.969878  37.584916  서울특별시 종로구
4        서울특별시 종로구 청운동 자하문로 99 4  126.969853  37.585080  서울특별시 종로구
...                          ...         ...        ...        ...
540775  서울특별시 강동구 강일동 가래여울길 49 0  127.165354  37.575175  서울특별시 강동구
540776  서울특별시 강동구 강일동 가래여울길 50 0  127.165159  37.575395  서울특별시 강동구
540777  서울특별시 강동구 강일동 가래여울길 57 0  127.165166  37.574902  서울특별시 강동구
540778  서울특별시 강동구 강일동 가래여울길 59 0  127.165425  37.574825  서울특별시 강동구
540779  서울특별시 강동구 강일동 가래여울길 61 0  127.165045  37.574538  서울특별시 강동구

[540330 rows x 4 columns]

In [111]:
H.columns = ['ADDR', 'lon', 'lat', '서울시구']

In [112]:
H.columns

Index(['ADDR', 'lon', 'lat', '서울시구'], dtype='object')

In [80]:
#H[H['주소'].str.contains('로' or '길')]
#H[(H['주소'].str.contains('길')) | H['주소'].str.contains('로') == True]  # 주소 로/길 로 거의 끝난다고 봐도 무방?

In [14]:
#H2['주소'] = H2['주소'].drop_duplicates()
#H['lon_mean'] = H.groupby(H['주소'])['lon'].transform('mean') 
#H['lat_mean'] = H.groupby(H['주소'])['lat'].transform('mean') 
#H = H.drop_duplicates()

In [15]:
#H.columns = ['ADDR','서울시구','lon_mean','lat_mean']
#H

In [114]:
#H[H['ADDR'].str.contains('자하문로')]
H['ADDR'] = H['ADDR'].apply(lambda x : ' '.join(x.split()[:-2]))

In [115]:
H

                       ADDR         lon        lat       서울시구
0        서울특별시 종로구 청운동 자하문로  126.970406  37.584415  서울특별시 종로구
1        서울특별시 종로구 청운동 자하문로  126.970423  37.584513  서울특별시 종로구
2        서울특별시 종로구 청운동 자하문로  126.970394  37.584697  서울특별시 종로구
3        서울특별시 종로구 청운동 자하문로  126.969878  37.584916  서울특별시 종로구
4        서울특별시 종로구 청운동 자하문로  126.969853  37.585080  서울특별시 종로구
...                     ...         ...        ...        ...
540775  서울특별시 강동구 강일동 가래여울길  127.165354  37.575175  서울특별시 강동구
540776  서울특별시 강동구 강일동 가래여울길  127.165159  37.575395  서울특별시 강동구
540777  서울특별시 강동구 강일동 가래여울길  127.165166  37.574902  서울특별시 강동구
540778  서울특별시 강동구 강일동 가래여울길  127.165425  37.574825  서울특별시 강동구
540779  서울특별시 강동구 강일동 가래여울길  127.165045  37.574538  서울특별시 강동구

[540330 rows x 4 columns]

In [116]:
H.columns

Index(['ADDR', 'lon', 'lat', '서울시구'], dtype='object')

In [117]:
H2 =H.copy()

def cleansing3(text):
    i = text.rfind('구 ')
    return text[i+1:]


for i in range(len(H)):
    H2[i:i+1]['ADDR']=cleansing3(H2.iloc[i]['ADDR']).rstrip()
    

'''
def cleansing4(text):
    i = text.rfind('동 ')
    return text[i+1:]


for i in range(len(H2)):
    H[i:i+1]['ADDR']=cleansing4(H.iloc[i]['ADDR']).rstrip()
'''

"\ndef cleansing4(text):\n    i = text.rfind('동 ')\n    return text[i+1:]\n\n\nfor i in range(len(H2)):\n    H[i:i+1]['ADDR']=cleansing4(H.iloc[i]['ADDR']).rstrip()\n"

In [118]:
H2

              ADDR         lon        lat       서울시구
0         청운동 자하문로  126.970406  37.584415  서울특별시 종로구
1         청운동 자하문로  126.970423  37.584513  서울특별시 종로구
2         청운동 자하문로  126.970394  37.584697  서울특별시 종로구
3         청운동 자하문로  126.969878  37.584916  서울특별시 종로구
4         청운동 자하문로  126.969853  37.585080  서울특별시 종로구
...            ...         ...        ...        ...
540775   강일동 가래여울길  127.165354  37.575175  서울특별시 강동구
540776   강일동 가래여울길  127.165159  37.575395  서울특별시 강동구
540777   강일동 가래여울길  127.165166  37.574902  서울특별시 강동구
540778   강일동 가래여울길  127.165425  37.574825  서울특별시 강동구
540779   강일동 가래여울길  127.165045  37.574538  서울특별시 강동구

[540330 rows x 4 columns]

In [120]:
H2['lon_mean_detail'] = H2.groupby(H2['ADDR'])['lon'].transform('mean') 
H2['lat_mean_detail'] = H2.groupby(H2['ADDR'])['lat'].transform('mean')

In [121]:
H2

,ADDR,lon,lat,서울시구,lon_mean_detail,lat_mean_detail
0,청운동 자하문로,126.970406,37.584415,서울특별시 종로구,126.969373,37.586701
1,청운동 자하문로,126.970423,37.584513,서울특별시 종로구,126.969373,37.586701
2,청운동 자하문로,126.970394,37.584697,서울특별시 종로구,126.969373,37.586701
3,청운동 자하문로,126.969878,37.584916,서울특별시 종로구,126.969373,37.586701
4,청운동 자하문로,126.969853,37.585080,서울특별시 종로구,126.969373,37.586701
...,...,...,...,...,...,...
540775,강일동 가래여울길,127.165354,37.575175,서울특별시 강동구,127.167593,37.576615
540776,강일동 가래여울길,127.165159,37.575395,서울특별시 강동구,127.167593,37.576615
540777,강일동 가래여울길,127.165166,37.574902,서울특별시 강동구,127.167593,37.576615
540778,강일동 가래여울길,127.165425,37.574825,서울특별시 강동구,127.167593,37.576615
540779,강일동 가래여울길,127.165045,37.574538,서울특별시 강동구,127.167593,37.576615

In [123]:
H2['ADDR'] = H2['ADDR'].drop_duplicates()
H2

,ADDR,lon,lat,서울시구,lon_mean_detail,lat_mean_detail
0,청운동 자하문로,126.970406,37.584415,서울특별시 종로구,126.969373,37.586701
1,NaN,126.970423,37.584513,서울특별시 종로구,126.969373,37.586701
2,NaN,126.970394,37.584697,서울특별시 종로구,126.969373,37.586701
3,NaN,126.969878,37.584916,서울특별시 종로구,126.969373,37.586701
4,NaN,126.969853,37.585080,서울특별시 종로구,126.969373,37.586701
...,...,...,...,...,...,...
540775,NaN,127.165354,37.575175,서울특별시 강동구,127.167593,37.576615
540776,NaN,127.165159,37.575395,서울특별시 강동구,127.167593,37.576615
540777,NaN,127.165166,37.574902,서울특별시 강동구,127.167593,37.576615
540778,NaN,127.165425,37.574825,서울특별시 강동구,127.167593,37.576615
540779,NaN,127.165045,37.574538,서울특별시 강동구,127.167593,37.576615

In [139]:
H2 = H2.dropna()
H2['ADDR'] = H2['ADDR'].str.replace(" ","")
H2 # 한울 데이터 최종 전처리 #16359 rows × 6 columns

,ADDR,lon,lat,서울시구,lon_mean_detail,lat_mean_detail
0,청운동자하문로,126.970406,37.584415,서울특별시 종로구,126.969373,37.586701
69,청운동창의문로,126.972736,37.586569,서울특별시 종로구,126.971405,37.588645
76,청운동자하문로26길,126.970560,37.584397,서울특별시 종로구,126.970662,37.584554
79,청운동자하문로28가길,126.971259,37.585317,서울특별시 종로구,126.971714,37.585773
89,청운동자하문로28길,126.970490,37.585154,서울특별시 종로구,126.971821,37.585640
...,...,...,...,...,...,...
540716,강일동가래여울1길,127.166861,37.574832,서울특별시 강동구,127.166957,37.575242
540719,강일동아리수로93다길,127.170987,37.573721,서울특별시 강동구,127.171784,37.573765
540721,강일동아리수로93나길,127.172452,37.571902,서울특별시 강동구,127.174361,37.572128
540728,강일동가래여울2길,127.171738,37.577244,서울특별시 강동구,127.171456,37.577087
540732,강일동가래여울길,127.168947,37.576257,서울특별시 강동구,127.167593,37.576615

# 더존비즈온

In [58]:
# 회사 정보
comp  = pd.read_csv('./CompetitionData/더존비즈온/tbl_company.csv',sep='|') # 119621 rows × 7 columns
comp.columns = ['회사정보 가명화 연계키', '주소 시도', '주소 시군구', '주소 동', '표준 산업분류코드 대분류',
       '표준 산업분류코드 중분류', '법인 개인 여부']
comp # 119621 rows × 7 columns

,회사정보 가명화 연계키,주소 시도,주소 시군구,주소 동,표준 산업분류코드 대분류,표준 산업분류코드 중분류,법인 개인 여부
0,8eac036d-cab6-4cb2-9a3c-1fb1edb256b1,경상북도,경산시,경산로44길,도매 및 소매업,도매 및 상품 중개업,0
1,902d5a34-20ad-4194-a15a-339d66902663,전라북도,군산시,조촌로,운수 및 창고업,육상 운송 및 파이프라인 운송업,0
2,f4784fe4-0cdc-41ed-83c2-3c662360d142,경기도,의정부시,시민로,도매 및 소매업,도매 및 상품 중개업,1
3,af0dfe80-3a34-49b6-901a-a042ff739eea,경기도,수원시권선구,곡반정로,건설업,전문직별 공사업,0
4,d68f64cd-3cc9-4811-9932-23ee47cc459b,대구광역시,서구,국채보상로34길,숙박 및 음식점업,음식점 및 주점업,1
...,...,...,...,...,...,...,...
119616,c93d8d97-7024-405f-9dcb-49ec8e961810,서울특별시,강남구,헌릉로569길,숙박 및 음식점업,음식점 및 주점업,0
119617,cc4192ba-c950-41f0-b98a-5edafea065db,전라남도,여수시,달천길,건설업,전문직별 공사업,0
119618,0c5876ac-7dac-4c15-a956-54dce97dcb24,서울특별시,중랑구,겸재로,도매 및 소매업,소매업; 자동차 제외,0
119619,be339ac9-b4f4-4ed7-923d-a6ac15123a29,강원도,강릉시,남구길17번길,"전문, 과학 및 기술 서비스업","건축 기술, 엔지니어링 및 기타 과학기술 서비스업",1
119620,fa52325f-6b9f-418b-beae-c285907ad01b,인천광역시,연수구,해돋이로120번길,교육 서비스업,교육 서비스업,1

In [59]:
def industry(x):
  if ('도매 및 소매업' in str(x)):
    return '도매 및 소매업'
  elif ('사업시설 관리, 사업 지원 및 임대 서비스업' in str(x)):
    return '사업시설 관리, 사업 지원 및 임대 서비스업'
  elif ('부동산업' in str(x)):
    return '부동산업'
  elif ('전문, 과학 및 기술 서비스업' in str(x)):
    return '전문, 과학 및 기술 서비스업'
  elif ('금융 및 보험업' in str(x)):
    return '금융 및 보험업'
  elif ( '교육 서비스업' in str(x)):
    return  '교육 서비스업'
  elif ('정보통신업' in str(x)):
    return '정보통신업' 
  else:
    return '구분x'

comp['표준 산업분류코드 대분류']= comp['표준 산업분류코드 대분류'].apply(industry) 
comp.head()

,회사정보 가명화 연계키,주소 시도,주소 시군구,주소 동,표준 산업분류코드 대분류,표준 산업분류코드 중분류,법인 개인 여부
0,8eac036d-cab6-4cb2-9a3c-1fb1edb256b1,경상북도,경산시,경산로44길,도매 및 소매업,도매 및 상품 중개업,0
1,902d5a34-20ad-4194-a15a-339d66902663,전라북도,군산시,조촌로,구분x,육상 운송 및 파이프라인 운송업,0
2,f4784fe4-0cdc-41ed-83c2-3c662360d142,경기도,의정부시,시민로,도매 및 소매업,도매 및 상품 중개업,1
3,af0dfe80-3a34-49b6-901a-a042ff739eea,경기도,수원시권선구,곡반정로,구분x,전문직별 공사업,0
4,d68f64cd-3cc9-4811-9932-23ee47cc459b,대구광역시,서구,국채보상로34길,구분x,음식점 및 주점업,1

In [60]:
comp= comp[comp['표준 산업분류코드 대분류']!='구분x']
comp

,회사정보 가명화 연계키,주소 시도,주소 시군구,주소 동,표준 산업분류코드 대분류,표준 산업분류코드 중분류,법인 개인 여부
0,8eac036d-cab6-4cb2-9a3c-1fb1edb256b1,경상북도,경산시,경산로44길,도매 및 소매업,도매 및 상품 중개업,0
2,f4784fe4-0cdc-41ed-83c2-3c662360d142,경기도,의정부시,시민로,도매 및 소매업,도매 및 상품 중개업,1
5,3b611c3c-1a49-4b96-a55e-35128fa5ec07,경기도,김포시,김포대로1766번길,도매 및 소매업,소매업; 자동차 제외,0
7,d5ec7f0d-6c82-431c-98d4-78ada7e78ef5,광주광역시,북구,동문대로,도매 및 소매업,소매업; 자동차 제외,1
9,f04267ff-6d5f-4d4e-9a31-41401cc57db5,경상북도,구미시,박정희로,"사업시설 관리, 사업 지원 및 임대 서비스업",사업시설 관리 및 조경 서비스업,1
...,...,...,...,...,...,...,...
119609,b4694dbf-1158-4d31-a410-fcf0dcc8889e,전라남도,담양군,남대덕로,"전문, 과학 및 기술 서비스업","건축 기술, 엔지니어링 및 기타 과학기술 서비스업",0
119611,35e6225b-c0a8-4046-acae-c8f6091ae001,대전광역시,동구,선화로,도매 및 소매업,도매 및 상품 중개업,1
119618,0c5876ac-7dac-4c15-a956-54dce97dcb24,서울특별시,중랑구,겸재로,도매 및 소매업,소매업; 자동차 제외,0
119619,be339ac9-b4f4-4ed7-923d-a6ac15123a29,강원도,강릉시,남구길17번길,"전문, 과학 및 기술 서비스업","건축 기술, 엔지니어링 및 기타 과학기술 서비스업",1
119620,fa52325f-6b9f-418b-beae-c285907ad01b,인천광역시,연수구,해돋이로120번길,교육 서비스업,교육 서비스업,1

In [61]:
def sido(x):
  if ('서울특별시' in str(x)):
    return '서울특별시' 
  else:
    return '구분x'

comp['주소 시도']= comp['주소 시도'].apply(sido)

In [62]:
comp = comp[comp['주소 시도']!='구분x']
comp # 16438 rows × 7 columns

,회사정보 가명화 연계키,주소 시도,주소 시군구,주소 동,표준 산업분류코드 대분류,표준 산업분류코드 중분류,법인 개인 여부
15,1ff4a076-e8c2-4b3b-a02e-de898431ad43,서울특별시,종로구,계동길,도매 및 소매업,소매업; 자동차 제외,1
24,5ed7e9fb-6584-4538-aedd-7ea7f6822ddf,서울특별시,중구,퇴계로75길,도매 및 소매업,도매 및 상품 중개업,0
26,eb06f67f-1ebd-448f-a1de-2fd093559b57,서울특별시,성동구,\N,도매 및 소매업,소매업; 자동차 제외,0
36,ff4d5541-fe20-4328-92dd-b942afc71712,서울특별시,강남구,남부순환로,금융 및 보험업,금융 및 보험관련 서비스업,0
48,0e90470e-0bed-4dc1-8988-6a4eff010dbb,서울특별시,송파구,백제고분로48길,부동산업,부동산업,1
...,...,...,...,...,...,...,...
119587,7c79d78c-b382-4d6a-bb73-22a228159ca6,서울특별시,강서구,방화동로3길,"사업시설 관리, 사업 지원 및 임대 서비스업",사업 지원 서비스업,1
119590,74666434-69af-4596-b4bd-890751ec9e95,서울특별시,강남구,언주로115길,"전문, 과학 및 기술 서비스업",전문 서비스업,0
119602,71ac0861-cfbb-43d8-b62a-a8f6f327e7e0,서울특별시,송파구,송파대로37길,부동산업,부동산업,1
119605,35a99e95-2c99-4b5e-88c1-03463e23bb3f,서울특별시,구로구,천왕로,정보통신업,출판업,0
119618,0c5876ac-7dac-4c15-a956-54dce97dcb24,서울특별시,중랑구,겸재로,도매 및 소매업,소매업; 자동차 제외,0

In [63]:
comp.isnull().sum()
comp = comp.dropna(axis=0)
comp

,회사정보 가명화 연계키,주소 시도,주소 시군구,주소 동,표준 산업분류코드 대분류,표준 산업분류코드 중분류,법인 개인 여부
15,1ff4a076-e8c2-4b3b-a02e-de898431ad43,서울특별시,종로구,계동길,도매 및 소매업,소매업; 자동차 제외,1
24,5ed7e9fb-6584-4538-aedd-7ea7f6822ddf,서울특별시,중구,퇴계로75길,도매 및 소매업,도매 및 상품 중개업,0
26,eb06f67f-1ebd-448f-a1de-2fd093559b57,서울특별시,성동구,\N,도매 및 소매업,소매업; 자동차 제외,0
36,ff4d5541-fe20-4328-92dd-b942afc71712,서울특별시,강남구,남부순환로,금융 및 보험업,금융 및 보험관련 서비스업,0
48,0e90470e-0bed-4dc1-8988-6a4eff010dbb,서울특별시,송파구,백제고분로48길,부동산업,부동산업,1
...,...,...,...,...,...,...,...
119587,7c79d78c-b382-4d6a-bb73-22a228159ca6,서울특별시,강서구,방화동로3길,"사업시설 관리, 사업 지원 및 임대 서비스업",사업 지원 서비스업,1
119590,74666434-69af-4596-b4bd-890751ec9e95,서울특별시,강남구,언주로115길,"전문, 과학 및 기술 서비스업",전문 서비스업,0
119602,71ac0861-cfbb-43d8-b62a-a8f6f327e7e0,서울특별시,송파구,송파대로37길,부동산업,부동산업,1
119605,35a99e95-2c99-4b5e-88c1-03463e23bb3f,서울특별시,구로구,천왕로,정보통신업,출판업,0
119618,0c5876ac-7dac-4c15-a956-54dce97dcb24,서울특별시,중랑구,겸재로,도매 및 소매업,소매업; 자동차 제외,0

In [64]:
comp['주소 동'].value_counts()

\N         413
남부순환로       92
천호대로        69
동일로         62
강남대로        61
          ...
효령로21길       1
송이로15길       1
도봉로76가길      1
동일로91길       1
강서로54길       1
Name: 주소 동, Length: 5182, dtype: int64

In [65]:
comp['주소 동'].value_counts()['\\N']

413

In [66]:
comp = comp[comp['주소 동'] !='\\N']
comp # 16018 rows × 7 columns

,회사정보 가명화 연계키,주소 시도,주소 시군구,주소 동,표준 산업분류코드 대분류,표준 산업분류코드 중분류,법인 개인 여부
15,1ff4a076-e8c2-4b3b-a02e-de898431ad43,서울특별시,종로구,계동길,도매 및 소매업,소매업; 자동차 제외,1
24,5ed7e9fb-6584-4538-aedd-7ea7f6822ddf,서울특별시,중구,퇴계로75길,도매 및 소매업,도매 및 상품 중개업,0
36,ff4d5541-fe20-4328-92dd-b942afc71712,서울특별시,강남구,남부순환로,금융 및 보험업,금융 및 보험관련 서비스업,0
48,0e90470e-0bed-4dc1-8988-6a4eff010dbb,서울특별시,송파구,백제고분로48길,부동산업,부동산업,1
54,db0f0019-a37d-46cf-baf2-2853ff68dc89,서울특별시,금천구,디지털로,도매 및 소매업,도매 및 상품 중개업,0
...,...,...,...,...,...,...,...
119587,7c79d78c-b382-4d6a-bb73-22a228159ca6,서울특별시,강서구,방화동로3길,"사업시설 관리, 사업 지원 및 임대 서비스업",사업 지원 서비스업,1
119590,74666434-69af-4596-b4bd-890751ec9e95,서울특별시,강남구,언주로115길,"전문, 과학 및 기술 서비스업",전문 서비스업,0
119602,71ac0861-cfbb-43d8-b62a-a8f6f327e7e0,서울특별시,송파구,송파대로37길,부동산업,부동산업,1
119605,35a99e95-2c99-4b5e-88c1-03463e23bb3f,서울특별시,구로구,천왕로,정보통신업,출판업,0
119618,0c5876ac-7dac-4c15-a956-54dce97dcb24,서울특별시,중랑구,겸재로,도매 및 소매업,소매업; 자동차 제외,0

In [67]:
cols =['주소 시도','주소 시군구','주소 동']
comp['ADDR'] =comp[cols].apply(lambda row: ' '.join(row.values.astype(str)), axis=1)
comp

,회사정보 가명화 연계키,주소 시도,주소 시군구,주소 동,표준 산업분류코드 대분류,표준 산업분류코드 중분류,법인 개인 여부,ADDR
15,1ff4a076-e8c2-4b3b-a02e-de898431ad43,서울특별시,종로구,계동길,도매 및 소매업,소매업; 자동차 제외,1,서울특별시 종로구 계동길
24,5ed7e9fb-6584-4538-aedd-7ea7f6822ddf,서울특별시,중구,퇴계로75길,도매 및 소매업,도매 및 상품 중개업,0,서울특별시 중구 퇴계로75길
36,ff4d5541-fe20-4328-92dd-b942afc71712,서울특별시,강남구,남부순환로,금융 및 보험업,금융 및 보험관련 서비스업,0,서울특별시 강남구 남부순환로
48,0e90470e-0bed-4dc1-8988-6a4eff010dbb,서울특별시,송파구,백제고분로48길,부동산업,부동산업,1,서울특별시 송파구 백제고분로48길
54,db0f0019-a37d-46cf-baf2-2853ff68dc89,서울특별시,금천구,디지털로,도매 및 소매업,도매 및 상품 중개업,0,서울특별시 금천구 디지털로
...,...,...,...,...,...,...,...,...
119587,7c79d78c-b382-4d6a-bb73-22a228159ca6,서울특별시,강서구,방화동로3길,"사업시설 관리, 사업 지원 및 임대 서비스업",사업 지원 서비스업,1,서울특별시 강서구 방화동로3길
119590,74666434-69af-4596-b4bd-890751ec9e95,서울특별시,강남구,언주로115길,"전문, 과학 및 기술 서비스업",전문 서비스업,0,서울특별시 강남구 언주로115길
119602,71ac0861-cfbb-43d8-b62a-a8f6f327e7e0,서울특별시,송파구,송파대로37길,부동산업,부동산업,1,서울특별시 송파구 송파대로37길
119605,35a99e95-2c99-4b5e-88c1-03463e23bb3f,서울특별시,구로구,천왕로,정보통신업,출판업,0,서울특별시 구로구 천왕로
119618,0c5876ac-7dac-4c15-a956-54dce97dcb24,서울특별시,중랑구,겸재로,도매 및 소매업,소매업; 자동차 제외,0,서울특별시 중랑구 겸재로

In [68]:
comp = comp.drop(['표준 산업분류코드 중분류','법인 개인 여부','회사정보 가명화 연계키','주소 시도','주소 시군구','주소 동'],axis =1)
comp.head()

   표준 산업분류코드 대분류                ADDR
15      도매 및 소매업       서울특별시 종로구 계동길
24      도매 및 소매업     서울특별시 중구 퇴계로75길
36      금융 및 보험업     서울특별시 강남구 남부순환로
48          부동산업  서울특별시 송파구 백제고분로48길
54      도매 및 소매업      서울특별시 금천구 디지털로

In [69]:
import re
K =comp.copy()

#K.ADDR  = [re.sub('[0-9]+', '', e) for e in K.ADDR ]
#K.ADDR = K.ADDR.str.replace(pat=r'[^\w]', repl=r' ', regex=True)

In [70]:
K

                   표준 산업분류코드 대분류                ADDR
15                      도매 및 소매업       서울특별시 종로구 계동길
24                      도매 및 소매업     서울특별시 중구 퇴계로75길
36                      금융 및 보험업     서울특별시 강남구 남부순환로
48                          부동산업  서울특별시 송파구 백제고분로48길
54                      도매 및 소매업      서울특별시 금천구 디지털로
...                          ...                 ...
119587  사업시설 관리, 사업 지원 및 임대 서비스업    서울특별시 강서구 방화동로3길
119590          전문, 과학 및 기술 서비스업   서울특별시 강남구 언주로115길
119602                      부동산업   서울특별시 송파구 송파대로37길
119605                     정보통신업       서울특별시 구로구 천왕로
119618                  도매 및 소매업       서울특별시 중랑구 겸재로

[16018 rows x 2 columns]

In [71]:
K['ADDR'].groupby(K['표준 산업분류코드 대분류']).count()

표준 산업분류코드 대분류
교육 서비스업                      687
금융 및 보험업                     327
도매 및 소매업                    6100
부동산업                        3559
사업시설 관리, 사업 지원 및 임대 서비스업     995
전문, 과학 및 기술 서비스업            2660
정보통신업                       1690
Name: ADDR, dtype: int64

In [72]:
def cleansing3(text):
    i = text.rfind('구 ')
    return text[i+1:]

for i in range(len(K)):
    K[i:i+1]['ADDR']=cleansing3(K.iloc[i]['ADDR']).rstrip()
    
K

                   표준 산업분류코드 대분류       ADDR
15                      도매 및 소매업        계동길
24                      도매 및 소매업     퇴계로75길
36                      금융 및 보험업      남부순환로
48                          부동산업   백제고분로48길
54                      도매 및 소매업       디지털로
...                          ...        ...
119587  사업시설 관리, 사업 지원 및 임대 서비스업     방화동로3길
119590          전문, 과학 및 기술 서비스업    언주로115길
119602                      부동산업    송파대로37길
119605                     정보통신업        천왕로
119618                  도매 및 소매업        겸재로

[16018 rows x 2 columns]

In [73]:
def det(x):
  if ('0' in str(x) or '1' in str(x) or '2' in str(x)  or '3' in str(x)  or '4' in str(x)  or '5' in str(x) or '6' in str(x) or '7' in str(x) or '8' in str(x) or '9' in str(x)):
    return '숫자O'
  else:
    return '숫자X'


K['주소숫자여부'] = K['ADDR'].apply(det)
K

                   표준 산업분류코드 대분류       ADDR 주소숫자여부
15                      도매 및 소매업        계동길    숫자X
24                      도매 및 소매업     퇴계로75길    숫자O
36                      금융 및 보험업      남부순환로    숫자X
48                          부동산업   백제고분로48길    숫자O
54                      도매 및 소매업       디지털로    숫자X
...                          ...        ...    ...
119587  사업시설 관리, 사업 지원 및 임대 서비스업     방화동로3길    숫자O
119590          전문, 과학 및 기술 서비스업    언주로115길    숫자O
119602                      부동산업    송파대로37길    숫자O
119605                     정보통신업        천왕로    숫자X
119618                  도매 및 소매업        겸재로    숫자X

[16018 rows x 3 columns]

In [74]:
K['주소숫자여부'].value_counts()

숫자O    10205
숫자X     5813
Name: 주소숫자여부, dtype: int64

In [75]:
K = K[K['주소숫자여부'] == '숫자O']
K

                   표준 산업분류코드 대분류       ADDR 주소숫자여부
24                      도매 및 소매업     퇴계로75길    숫자O
48                          부동산업   백제고분로48길    숫자O
87                      도매 및 소매업     관악로30길    숫자O
108                     도매 및 소매업     중앙로29길    숫자O
121                      교육 서비스업     당산로49길    숫자O
...                          ...        ...    ...
119556                     정보통신업      양산로8길    숫자O
119575                  도매 및 소매업     풍성로26길    숫자O
119587  사업시설 관리, 사업 지원 및 임대 서비스업     방화동로3길    숫자O
119590          전문, 과학 및 기술 서비스업    언주로115길    숫자O
119602                      부동산업    송파대로37길    숫자O

[10205 rows x 3 columns]

# 서울 도로명 주소(외부데이터) 
; 더존비즈온 주소에서 '동' 정보가 없어서 더존비즈온에 이 정보 추가하기 위해

In [76]:
import pandas as pd
q  = pd.read_excel('./서울_도로명_주소_전체본(외부데이터).xlsx')
q

,115904157005,강남초등길,Gangnamchodeung-gil,0,서울특별시,Seoul,동작구,Dongjak-gu,Unnamed: 8,Unnamed: 9,2,Unnamed: 11,0.1
0,1.159042e+11,강남초등길,Gangnamchodeung-gil,1.0,서울특별시,Seoul,동작구,Dongjak-gu,상도동,Sangdo-dong,1.0,102.0,0.0
1,1.159042e+11,강남초등길,Gangnamchodeung-gil,2.0,서울특별시,Seoul,동작구,Dongjak-gu,상도1동,Sangdo 1(il)-dong,1.0,103.0,0.0
2,1.159042e+11,국사봉10길,Guksabong 10-gil,0.0,서울특별시,Seoul,동작구,Dongjak-gu,NaN,NaN,2.0,NaN,0.0
3,1.159042e+11,국사봉10길,Guksabong 10-gil,1.0,서울특별시,Seoul,동작구,Dongjak-gu,상도동,Sangdo-dong,1.0,102.0,0.0
4,1.159042e+11,국사봉12길,Guksabong 12-gil,0.0,서울특별시,Seoul,동작구,Dongjak-gu,NaN,NaN,2.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
31244,1.174049e+11,고덕로98길,Godeok-ro 98-gil,2.0,서울특별시,Seoul,강동구,Gangdong-gu,상일동,Sangil-dong,1.0,103.0,0.0
31245,1.174049e+11,가래여울길,Garaeyeoul-gil,0.0,서울특별시,Seoul,강동구,Gangdong-gu,NaN,NaN,2.0,NaN,0.0
31246,1.174049e+11,가래여울길,Garaeyeoul-gil,1.0,서울특별시,Seoul,강동구,Gangdong-gu,고덕동,Godeok-dong,1.0,102.0,0.0
31247,1.174049e+11,가래여울길,Garaeyeoul-gil,2.0,서울특별시,Seoul,강동구,Gangdong-gu,강일동,Gangil-dong,1.0,110.0,0.0
31248,1.174049e+11,한강남자전거길,Hangangnamjajeongeo-gil,0.0,서울특별시,Seoul,강동구,Gangdong-gu,NaN,NaN,2.0,NaN,0.0

In [77]:
q = q.drop(['Gangnamchodeung-gil','서울특별시','Seoul','Dongjak-gu','Unnamed: 9'], axis =1)
#q.columns = ['숫자코드','도로명','지우기1','이게뭐지1','서울특별시','지우기2','구,'지우기3',Dongjak-gu	Unnamed: 8	Unnamed: 9	2	Unnamed: 11	0.1']
q

       115904157005    강남초등길    0  동작구 Unnamed: 8    2  Unnamed: 11  0.1
0      1.159042e+11    강남초등길  1.0  동작구        상도동  1.0        102.0  0.0
1      1.159042e+11    강남초등길  2.0  동작구       상도1동  1.0        103.0  0.0
2      1.159042e+11   국사봉10길  0.0  동작구        NaN  2.0          NaN  0.0
3      1.159042e+11   국사봉10길  1.0  동작구        상도동  1.0        102.0  0.0
4      1.159042e+11   국사봉12길  0.0  동작구        NaN  2.0          NaN  0.0
...             ...      ...  ...  ...        ...  ...          ...  ...
31244  1.174049e+11   고덕로98길  2.0  강동구        상일동  1.0        103.0  0.0
31245  1.174049e+11    가래여울길  0.0  강동구        NaN  2.0          NaN  0.0
31246  1.174049e+11    가래여울길  1.0  강동구        고덕동  1.0        102.0  0.0
31247  1.174049e+11    가래여울길  2.0  강동구        강일동  1.0        110.0  0.0
31248  1.174049e+11  한강남자전거길  0.0  강동구        NaN  2.0          NaN  0.0

[31249 rows x 8 columns]

In [78]:
q.columns = ['숫자코드', '도로명', '뭔지모름1', '구', '동', '뭔지모름2', '뭔지모름3', '뭔지모름4']
q

               숫자코드      도로명  뭔지모름1    구     동  뭔지모름2  뭔지모름3  뭔지모름4
0      1.159042e+11    강남초등길    1.0  동작구   상도동    1.0  102.0    0.0
1      1.159042e+11    강남초등길    2.0  동작구  상도1동    1.0  103.0    0.0
2      1.159042e+11   국사봉10길    0.0  동작구   NaN    2.0    NaN    0.0
3      1.159042e+11   국사봉10길    1.0  동작구   상도동    1.0  102.0    0.0
4      1.159042e+11   국사봉12길    0.0  동작구   NaN    2.0    NaN    0.0
...             ...      ...    ...  ...   ...    ...    ...    ...
31244  1.174049e+11   고덕로98길    2.0  강동구   상일동    1.0  103.0    0.0
31245  1.174049e+11    가래여울길    0.0  강동구   NaN    2.0    NaN    0.0
31246  1.174049e+11    가래여울길    1.0  강동구   고덕동    1.0  102.0    0.0
31247  1.174049e+11    가래여울길    2.0  강동구   강일동    1.0  110.0    0.0
31248  1.174049e+11  한강남자전거길    0.0  강동구   NaN    2.0    NaN    0.0

[31249 rows x 8 columns]

In [79]:
q.isnull().sum()

숫자코드         1
도로명          1
뭔지모름1        1
구            1
동        14509
뭔지모름2        1
뭔지모름3    14509
뭔지모름4        1
dtype: int64

In [80]:
q = q.dropna()

In [81]:
q

               숫자코드     도로명  뭔지모름1    구     동  뭔지모름2  뭔지모름3  뭔지모름4
0      1.159042e+11   강남초등길    1.0  동작구   상도동    1.0  102.0    0.0
1      1.159042e+11   강남초등길    2.0  동작구  상도1동    1.0  103.0    0.0
3      1.159042e+11  국사봉10길    1.0  동작구   상도동    1.0  102.0    0.0
5      1.159042e+11  국사봉12길    1.0  동작구   상도동    1.0  102.0    0.0
7      1.159042e+11  국사봉14길    1.0  동작구   상도동    1.0  102.0    0.0
...             ...     ...    ...  ...   ...    ...    ...    ...
31241  1.174049e+11  가래여울2길    1.0  강동구   강일동    1.0  110.0    0.0
31243  1.174049e+11  고덕로98길    1.0  강동구   강일동    1.0  110.0    0.0
31244  1.174049e+11  고덕로98길    2.0  강동구   상일동    1.0  103.0    0.0
31246  1.174049e+11   가래여울길    1.0  강동구   고덕동    1.0  102.0    0.0
31247  1.174049e+11   가래여울길    2.0  강동구   강일동    1.0  110.0    0.0

[16740 rows x 8 columns]

In [82]:
D= q[['구','동','도로명']]
D

         구     동     도로명
0      동작구   상도동   강남초등길
1      동작구  상도1동   강남초등길
3      동작구   상도동  국사봉10길
5      동작구   상도동  국사봉12길
7      동작구   상도동  국사봉14길
...    ...   ...     ...
31241  강동구   강일동  가래여울2길
31243  강동구   강일동  고덕로98길
31244  강동구   상일동  고덕로98길
31246  강동구   고덕동   가래여울길
31247  강동구   강일동   가래여울길

[16740 rows x 3 columns]

In [83]:
D.columns = ['구', '동', 'ADDR']

In [84]:
D # 서울 도로명 외부데이터 최종

         구     동    ADDR
0      동작구   상도동   강남초등길
1      동작구  상도1동   강남초등길
3      동작구   상도동  국사봉10길
5      동작구   상도동  국사봉12길
7      동작구   상도동  국사봉14길
...    ...   ...     ...
31241  강동구   강일동  가래여울2길
31243  강동구   강일동  고덕로98길
31244  강동구   상일동  고덕로98길
31246  강동구   고덕동   가래여울길
31247  강동구   강일동   가래여울길

[16740 rows x 3 columns]

In [85]:
K['ADDR'] = K['ADDR'].str.replace(" ","")
D['ADDR'] = D['ADDR'].str.replace(" ","")

In [86]:
K_D_merge = pd.merge(K, D, how = 'inner', left_on ='ADDR', right_on = 'ADDR')
K_D_merge = K_D_merge.drop(['주소숫자여부'],axis = 1)

In [87]:
K_D_merge###

                  표준 산업분류코드 대분류      ADDR     구       동
0                      도매 및 소매업    퇴계로75길    중구     흥인동
1              전문, 과학 및 기술 서비스업    퇴계로75길    중구     흥인동
2                          부동산업  백제고분로48길   송파구     방이동
3              전문, 과학 및 기술 서비스업  백제고분로48길   송파구     방이동
4                      도매 및 소매업  백제고분로48길   송파구     방이동
...                         ...       ...   ...     ...
12083                      부동산업    조원로2가길   관악구     신림동
12084                  도매 및 소매업    영중로16길  영등포구  영등포동5가
12085                  도매 및 소매업    원효로93길   용산구   원효로1가
12086          전문, 과학 및 기술 서비스업   공항대로71길   강서구     염창동
12087  사업시설 관리, 사업 지원 및 임대 서비스업    방화동로3길   강서구     방화동

[12088 rows x 4 columns]

In [88]:
K_D_merge.isnull().sum()

표준 산업분류코드 대분류    0
ADDR             0
구                0
동                0
dtype: int64

In [95]:
col =['동','ADDR']
K_D_merge['동도로명'] = K_D_merge[col].apply(lambda row: ' '.join(row.values.astype(str)), axis=1)
K_D_merge['동도로명'] = K_D_merge['동도로명'].str.replace(" ","")
K_D_merge # 최종 합치기 전

                  표준 산업분류코드 대분류      ADDR     구       동          동도로명
0                      도매 및 소매업    퇴계로75길    중구     흥인동     흥인동퇴계로75길
1              전문, 과학 및 기술 서비스업    퇴계로75길    중구     흥인동     흥인동퇴계로75길
2                          부동산업  백제고분로48길   송파구     방이동   방이동백제고분로48길
3              전문, 과학 및 기술 서비스업  백제고분로48길   송파구     방이동   방이동백제고분로48길
4                      도매 및 소매업  백제고분로48길   송파구     방이동   방이동백제고분로48길
...                         ...       ...   ...     ...           ...
12083                      부동산업    조원로2가길   관악구     신림동     신림동조원로2가길
12084                  도매 및 소매업    영중로16길  영등포구  영등포동5가  영등포동5가영중로16길
12085                  도매 및 소매업    원효로93길   용산구   원효로1가   원효로1가원효로93길
12086          전문, 과학 및 기술 서비스업   공항대로71길   강서구     염창동    염창동공항대로71길
12087  사업시설 관리, 사업 지원 및 임대 서비스업    방화동로3길   강서구     방화동     방화동방화동로3길

[12088 rows x 5 columns]

In [143]:
H2.columns =['동도로명', 'lon', 'lat', '서울시구', 'lon_mean_detail', 'lat_mean_detail']
H2 # 최종 합치기전

,동도로명,lon,lat,서울시구,lon_mean_detail,lat_mean_detail
0,청운동자하문로,126.970406,37.584415,서울특별시 종로구,126.969373,37.586701
69,청운동창의문로,126.972736,37.586569,서울특별시 종로구,126.971405,37.588645
76,청운동자하문로26길,126.970560,37.584397,서울특별시 종로구,126.970662,37.584554
79,청운동자하문로28가길,126.971259,37.585317,서울특별시 종로구,126.971714,37.585773
89,청운동자하문로28길,126.970490,37.585154,서울특별시 종로구,126.971821,37.585640
...,...,...,...,...,...,...
540716,강일동가래여울1길,127.166861,37.574832,서울특별시 강동구,127.166957,37.575242
540719,강일동아리수로93다길,127.170987,37.573721,서울특별시 강동구,127.171784,37.573765
540721,강일동아리수로93나길,127.172452,37.571902,서울특별시 강동구,127.174361,37.572128
540728,강일동가래여울2길,127.171738,37.577244,서울특별시 강동구,127.171456,37.577087
540732,강일동가래여울길,127.168947,37.576257,서울특별시 강동구,127.167593,37.576615

In [102]:
K_D_merge

                  표준 산업분류코드 대분류      ADDR     구       동          동도로명
0                      도매 및 소매업    퇴계로75길    중구     흥인동     흥인동퇴계로75길
1              전문, 과학 및 기술 서비스업    퇴계로75길    중구     흥인동     흥인동퇴계로75길
2                          부동산업  백제고분로48길   송파구     방이동   방이동백제고분로48길
3              전문, 과학 및 기술 서비스업  백제고분로48길   송파구     방이동   방이동백제고분로48길
4                      도매 및 소매업  백제고분로48길   송파구     방이동   방이동백제고분로48길
...                         ...       ...   ...     ...           ...
12083                      부동산업    조원로2가길   관악구     신림동     신림동조원로2가길
12084                  도매 및 소매업    영중로16길  영등포구  영등포동5가  영등포동5가영중로16길
12085                  도매 및 소매업    원효로93길   용산구   원효로1가   원효로1가원효로93길
12086          전문, 과학 및 기술 서비스업   공항대로71길   강서구     염창동    염창동공항대로71길
12087  사업시설 관리, 사업 지원 및 임대 서비스업    방화동로3길   강서구     방화동     방화동방화동로3길

[12088 rows x 5 columns]

In [144]:
# 이제 K_D_merge를 기준으로 H2를 합쳐본다

final = pd.merge(K_D_merge,H2,how = 'inner', left_on = '동도로명', right_on ='동도로명')
final ### 최종 ! (더존비즈온 위경도!)

,표준 산업분류코드 대분류,ADDR,구,동,동도로명,lon,lat,서울시구,lon_mean_detail,lat_mean_detail
0,도매 및 소매업,퇴계로75길,중구,흥인동,흥인동퇴계로75길,127.015565,37.565760,서울특별시 중구,127.015582,37.566224
1,"전문, 과학 및 기술 서비스업",퇴계로75길,중구,흥인동,흥인동퇴계로75길,127.015565,37.565760,서울특별시 중구,127.015582,37.566224
2,부동산업,백제고분로48길,송파구,방이동,방이동백제고분로48길,127.113852,37.511814,서울특별시 송파구,127.115758,37.510815
3,"전문, 과학 및 기술 서비스업",백제고분로48길,송파구,방이동,방이동백제고분로48길,127.113852,37.511814,서울특별시 송파구,127.115758,37.510815
4,도매 및 소매업,백제고분로48길,송파구,방이동,방이동백제고분로48길,127.113852,37.511814,서울특별시 송파구,127.115758,37.510815
...,...,...,...,...,...,...,...,...,...,...
11961,부동산업,조원로2가길,관악구,신림동,신림동조원로2가길,126.902954,37.483226,서울특별시 관악구,126.903873,37.482951
11962,도매 및 소매업,영중로16길,영등포구,영등포동5가,영등포동5가영중로16길,126.905663,37.520815,서울특별시 영등포,126.906437,37.520758
11963,도매 및 소매업,원효로93길,용산구,원효로1가,원효로1가원효로93길,126.969562,37.540951,서울특별시 용산구,126.968835,37.541086
11964,"전문, 과학 및 기술 서비스업",공항대로71길,강서구,염창동,염창동공항대로71길,126.871682,37.547658,서울특별시 강서구,126.872398,37.548568
11965,"사업시설 관리, 사업 지원 및 임대 서비스업",방화동로3길,강서구,방화동,방화동방화동로3길,126.808533,37.562457,서울특별시 강서구,126.808431,37.563859

In [150]:
final.to_csv('서울_더존비즈온기업_주소 및 경위도(detail).csv', header = 'False', index ='False')

In [146]:
final['lon_mean_detail'].value_counts()

126.883330    35
126.879563    28
126.894703    25
126.896103    24
126.892216    23
              ..
127.025757     1
126.960651     1
127.001286     1
127.030652     1
126.942374     1
Name: lon_mean_detail, Length: 5287, dtype: int64

In [147]:
final['lat_mean_detail'].value_counts()

37.475778    35
37.478323    28
37.486682    25
37.481503    24
37.486075    23
             ..
37.506346     1
37.573005     1
37.506295     1
37.558198     1
37.536723     1
Name: lat_mean_detail, Length: 5287, dtype: int64

In [148]:
final.nunique()

표준 산업분류코드 대분류         7
ADDR               4625
구                    25
동                   430
동도로명               5287
lon                5287
lat                5287
서울시구                 25
lon_mean_detail    5287
lat_mean_detail    5287
dtype: int64

In [149]:
final.isnull().sum()

표준 산업분류코드 대분류      0
ADDR               0
구                  0
동                  0
동도로명               0
lon                0
lat                0
서울시구               0
lon_mean_detail    0
lat_mean_detail    0
dtype: int64